In [1]:
import pandas as pd
import numpy as np

In [2]:
import requests
import re
import seaborn as sns

In [3]:
pd.set_option('display.max_columns', 20)
pd.set_option('display.width', 20)
pd.set_option('display.float_format', '{:.2f}'.format)

In [4]:
# I define the inicial dataset in the 'inic' variable (should be a string that contain the path of the file) 
# and in the 'dest' variable I do a list with the path of all the files I want concat

def HistMake (inic, dest):
    datatot = pd.read_csv(inic)
    datatot.columns= datatot.columns.str.lower()

    #I make a variable that would be mi fist dataframe
    for i in dest: 
        data0 = pd.read_csv(i)
        data0.columns= data0.columns.str.lower()

        datatot = pd.concat([data0,datatot], axis = 0).reset_index(drop=True)
    return datatot
        
def TwoMake (inic, dest):
    datatot = pd.read_csv(inic)
    datatot.columns= datatot.columns.str.lower()
    #I make a variable that would be mi fist dataframe
    data0 = pd.read_csv(dest)
    data0.columns= data0.columns.str.lower()
    datatot = pd.concat([data0,datatot], axis = 0).reset_index(drop=True)
    return datatot

# Sales Price Historical

*01.Year* - Year of the data

*02.Trimester* - Data quarter

*03.Code_Dist* - District code

*04.Name_Dist* - Name of the district

*05.Code_NBHD* - Neighborhood code

*06.Name_NBHD* - Name of the neighborhood

*07.Description* - Average house price (thousands of euros)

*08.Price* - Value of the price of the house

*09.Type* -  The description of the type of the house

In [5]:
price = [ "../datasets/all/comp_vend_preu_trim_2015.csv",
         "../datasets/all/comp_vend_preu_trim_2016.csv", "../datasets/all/comp_vend_preu_trim_2017.csv", 
         "../datasets/all/comp_vend_preu_trim_2018.csv", "../datasets/all/comp_vend_preu_trim_2019.csv"]

In [6]:
price_hist = HistMake("../datasets/all/comp_vend_preu_trim_2014.csv", price) 
price_hist

,any,trimestre,codi_districte,nom_districte,codi_barri,nom_barri,preu_mitja_habitatge,valor
0,2019,1,1,Ciutat Vella,1,el Raval,Total. Milers d'euros,236.70
1,2019,1,1,Ciutat Vella,2,el Barri Gòtic,Total. Milers d'euros,411.70
2,2019,1,1,Ciutat Vella,3,la Barceloneta,Total. Milers d'euros,215.60
3,2019,1,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Total. Milers d'euros,306.00
4,2019,1,2,Eixample,5,el Fort Pienc,Total. Milers d'euros,582.20
...,...,...,...,...,...,...,...,...
10507,2014,4,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Usat. Euros/m2 construït,5509.60
10508,2014,4,10,Sant Martí,70,el Besòs i el Maresme,Usat. Euros/m2 construït,2153.20
10509,2014,4,10,Sant Martí,71,Provençals del Poblenou,Usat. Euros/m2 construït,3602.40
10510,2014,4,10,Sant Martí,72,Sant Martí de Provençals,Usat. Euros/m2 construït,3403.70
10511,2014,4,10,Sant Martí,73,la Verneda i la Pau,Usat. Euros/m2 construït,1990.20

In [7]:
price_hist.columns = ['Year', 'Trimester', 'Code_Dist', 'Name_Dist', 'Code_NBHD', 'Name_NBHD', 'Description', 'Price']
price_hist

,Year,Trimester,Code_Dist,Name_Dist,Code_NBHD,Name_NBHD,Description,Price
0,2019,1,1,Ciutat Vella,1,el Raval,Total. Milers d'euros,236.70
1,2019,1,1,Ciutat Vella,2,el Barri Gòtic,Total. Milers d'euros,411.70
2,2019,1,1,Ciutat Vella,3,la Barceloneta,Total. Milers d'euros,215.60
3,2019,1,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Total. Milers d'euros,306.00
4,2019,1,2,Eixample,5,el Fort Pienc,Total. Milers d'euros,582.20
...,...,...,...,...,...,...,...,...
10507,2014,4,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Usat. Euros/m2 construït,5509.60
10508,2014,4,10,Sant Martí,70,el Besòs i el Maresme,Usat. Euros/m2 construït,2153.20
10509,2014,4,10,Sant Martí,71,Provençals del Poblenou,Usat. Euros/m2 construït,3602.40
10510,2014,4,10,Sant Martí,72,Sant Martí de Provençals,Usat. Euros/m2 construït,3403.70
10511,2014,4,10,Sant Martí,73,la Verneda i la Pau,Usat. Euros/m2 construït,1990.20

In [8]:
price_hist["Type"] = price_hist.Description.apply(lambda x: x.split(".")[0])
price_hist["Description"] = price_hist.Description.apply(lambda x: x.split(".")[1])

In [9]:
price_hist.isnull().sum()

Year              0
Trimester         0
Code_Dist         0
Name_Dist         0
Code_NBHD         0
Name_NBHD         0
Description       0
Price          2891
Type              0
dtype: int64

In [10]:
price_hist.Type.value_counts()

Total    3504
Usat     3504
Nou      3504
Name: Type, dtype: int64

In [11]:
#Replace the Catalan manual
price_hist.Description.replace(" Euros/m2 construït", "Euros/m2", inplace= True)
price_hist.Description.replace(" Milers d'euros", "Thousands of Euros", inplace= True)
price_hist.Type.replace("Usat", "Used", inplace= True)
price_hist.Type.replace("Nou", "New", inplace= True)

In [12]:
price_hist

,Year,Trimester,Code_Dist,Name_Dist,Code_NBHD,Name_NBHD,Description,Price,Type
0,2019,1,1,Ciutat Vella,1,el Raval,Thousands of Euros,236.70,Total
1,2019,1,1,Ciutat Vella,2,el Barri Gòtic,Thousands of Euros,411.70,Total
2,2019,1,1,Ciutat Vella,3,la Barceloneta,Thousands of Euros,215.60,Total
3,2019,1,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Thousands of Euros,306.00,Total
4,2019,1,2,Eixample,5,el Fort Pienc,Thousands of Euros,582.20,Total
...,...,...,...,...,...,...,...,...,...
10507,2014,4,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Euros/m2,5509.60,Used
10508,2014,4,10,Sant Martí,70,el Besòs i el Maresme,Euros/m2,2153.20,Used
10509,2014,4,10,Sant Martí,71,Provençals del Poblenou,Euros/m2,3602.40,Used
10510,2014,4,10,Sant Martí,72,Sant Martí de Provençals,Euros/m2,3403.70,Used
10511,2014,4,10,Sant Martí,73,la Verneda i la Pau,Euros/m2,1990.20,Used

In [13]:
price_hist.Description.unique()

array(['Thousands of Euros', 'Euros/m2'], dtype=object)

In [14]:
te = price_hist.loc[price_hist.Description == "Thousands of Euros", :].reset_index(drop=True)
te.columns = ['Year','Trimester', 'Code_Dist','Name_Dist','Code_NBHD', 'Name_NBHD','Description','Thousands_Euros','Type']
e = price_hist.loc[price_hist.Description == "Euros/m2", :].reset_index(drop=True)
e.columns = ['Year','Trimester', 'Code_Dist','Name_Dist','Code_NBHD', 'Name_NBHD','Description','Euros','Type']

In [15]:
e["KEY"]  =  e["Year"].astype(str) + "-" +  e["Trimester"].astype(str) + "-" + e["Code_Dist"].astype(str) + "-" +  e["Code_NBHD"].astype(str) + "-" +  e["Type"].astype(str)
te["KEY"] = te["Year"].astype(str) + "-" + te["Trimester"].astype(str) + "-" +te["Code_Dist"].astype(str) + "-" + te["Code_NBHD"].astype(str)  + "-" +  te["Type"].astype(str)

In [16]:
e = e.iloc[:,-3:]
e

,Euros,Type,KEY
0,3775.10,Total,2019-1-1-1-Total
1,4885.90,Total,2019-1-1-2-Total
2,5079.50,Total,2019-1-1-3-Total
3,4682.50,Total,2019-1-1-4-Total
4,4919.30,Total,2019-1-2-5-Total
...,...,...,...
5251,5509.60,Used,2014-4-10-69-Used
5252,2153.20,Used,2014-4-10-70-Used
5253,3602.40,Used,2014-4-10-71-Used
5254,3403.70,Used,2014-4-10-72-Used
5255,1990.20,Used,2014-4-10-73-Used

In [17]:
result  = pd.merge(te,e,left_on="KEY", right_on="KEY", how='left')
result

,Year,Trimester,Code_Dist,Name_Dist,Code_NBHD,Name_NBHD,Description,Thousands_Euros,Type_x,KEY,Euros,Type_y
0,2019,1,1,Ciutat Vella,1,el Raval,Thousands of Euros,236.70,Total,2019-1-1-1-Total,3775.10,Total
1,2019,1,1,Ciutat Vella,2,el Barri Gòtic,Thousands of Euros,411.70,Total,2019-1-1-2-Total,4885.90,Total
2,2019,1,1,Ciutat Vella,3,la Barceloneta,Thousands of Euros,215.60,Total,2019-1-1-3-Total,5079.50,Total
3,2019,1,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Thousands of Euros,306.00,Total,2019-1-1-4-Total,4682.50,Total
4,2019,1,2,Eixample,5,el Fort Pienc,Thousands of Euros,582.20,Total,2019-1-2-5-Total,4919.30,Total
...,...,...,...,...,...,...,...,...,...,...,...,...
5251,2014,4,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Thousands of Euros,526.60,Used,2014-4-10-69-Used,5509.60,Used
5252,2014,4,10,Sant Martí,70,el Besòs i el Maresme,Thousands of Euros,140.00,Used,2014-4-10-70-Used,2153.20,Used
5253,2014,4,10,Sant Martí,71,Provençals del Poblenou,Thousands of Euros,246.00,Used,2014-4-10-71-Used,3602.40,Used
5254,2014,4,10,Sant Martí,72,Sant Martí de Provençals,Thousands of Euros,311.90,Used,2014-4-10-72-Used,3403.70,Used
5255,2014,4,10,Sant Martí,73,la Verneda i la Pau,Thousands of Euros,140.30,Used,2014-4-10-73-Used,1990.20,Used

In [18]:
result.drop(columns=["Type_x","KEY"], inplace=True)

In [19]:
result.to_csv(r'../datasets/Sale_Houses_Hist.csv', index = False)

# Rent Price Historical

*01.Year* - Year of the data

*02.Trimester* - Data quarter

*03.Code_Dist* - District code

*04.Name_Dist* - Name of the district

*05.Code_NBHD* - Neighborhood code

*06.Name_NBHD* - Name of the neighborhood

*07.Description* - Average house price (thousands of euros)

*08.Price* - Value of the price of the house

In [20]:
dic = ["../datasets/all/lloguer_preu_trim_2015.csv", "../datasets/all/lloguer_preu_trim_2016.csv", 
       "../datasets/all/lloguer_preu_trim_2017.csv", "../datasets/all/lloguer_preu_trim_2018.csv",
       "../datasets/all/lloguer_preu_trim_2019.csv"]

In [21]:
rent_price = HistMake("../datasets/all/lloguer_preu_trim_2014.csv", dic) 
rent_price

,any,trimestre,codi_districte,nom_districte,codi_barri,nom_barri,lloguer_mitja,preu
0,2019,1,1,Ciutat Vella,1,el Raval,Lloguer mitjà mensual (Euros/mes),822.60
1,2019,1,1,Ciutat Vella,2,el Barri Gòtic,Lloguer mitjà mensual (Euros/mes),1060.90
2,2019,1,1,Ciutat Vella,3,la Barceloneta,Lloguer mitjà mensual (Euros/mes),891.30
3,2019,1,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Lloguer mitjà mensual (Euros/mes),990.20
4,2019,1,2,Eixample,5,el Fort Pienc,Lloguer mitjà mensual (Euros/mes),957.20
...,...,...,...,...,...,...,...,...
3499,2014,4,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Lloguer mitjà per superfície (Euros/m2 mes),11.49
3500,2014,4,10,Sant Martí,70,el Besòs i el Maresme,Lloguer mitjà per superfície (Euros/m2 mes),8.09
3501,2014,4,10,Sant Martí,71,Provençals del Poblenou,Lloguer mitjà per superfície (Euros/m2 mes),10.03
3502,2014,4,10,Sant Martí,72,Sant Martí de Provençals,Lloguer mitjà per superfície (Euros/m2 mes),8.86
3503,2014,4,10,Sant Martí,73,la Verneda i la Pau,Lloguer mitjà per superfície (Euros/m2 mes),8.14

In [22]:
rent_price.columns = ['Year', 'Trimester', 'Code_Dist', 'Name_Dist', 'Code_NBHD',
                      'Name_NBHD', 'Description', 'Price']

In [23]:
rent_price.Description.value_counts()

Lloguer mitjà per superfície (Euros/m2 mes)    1752
Lloguer mitjà mensual (Euros/mes)              1752
Name: Description, dtype: int64

In [24]:
#Replace the Catalan manual
rent_price.Description.replace("Lloguer mitjà mensual (Euros/mes)", "Average Euros/month", inplace= True)
rent_price.Description.replace("Lloguer mitjà per superfície (Euros/m2 mes)", "Average Euros/m2 month", inplace= True)

In [25]:
rent_price

,Year,Trimester,Code_Dist,Name_Dist,Code_NBHD,Name_NBHD,Description,Price
0,2019,1,1,Ciutat Vella,1,el Raval,Average Euros/month,822.60
1,2019,1,1,Ciutat Vella,2,el Barri Gòtic,Average Euros/month,1060.90
2,2019,1,1,Ciutat Vella,3,la Barceloneta,Average Euros/month,891.30
3,2019,1,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Average Euros/month,990.20
4,2019,1,2,Eixample,5,el Fort Pienc,Average Euros/month,957.20
...,...,...,...,...,...,...,...,...
3499,2014,4,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Average Euros/m2 month,11.49
3500,2014,4,10,Sant Martí,70,el Besòs i el Maresme,Average Euros/m2 month,8.09
3501,2014,4,10,Sant Martí,71,Provençals del Poblenou,Average Euros/m2 month,10.03
3502,2014,4,10,Sant Martí,72,Sant Martí de Provençals,Average Euros/m2 month,8.86
3503,2014,4,10,Sant Martí,73,la Verneda i la Pau,Average Euros/m2 month,8.14

In [26]:
mon = rent_price.loc[rent_price.Description == "Average Euros/month", :].reset_index(drop=True)
mon.columns = ['Year','Trimester', 'Code_Dist','Name_Dist','Code_NBHD', 'Name_NBHD','D','Euros_Month']
m2 = rent_price.loc[rent_price.Description == "Average Euros/m2 month", :].reset_index(drop=True)
m2.columns = ['Year','Trimester', 'Code_Dist','Name_Dist','Code_NBHD', 'Name_NBHD','D','Euros_M2_Month']

In [27]:
mon["KEY"]  =  mon["Year"].astype(str) + "-" +  mon["Trimester"].astype(str) + "-" + mon["Code_Dist"].astype(str) + "-" + mon["Code_NBHD"].astype(str)
m2["KEY"] = m2["Year"].astype(str) + "-" + m2["Trimester"].astype(str) + "-" +m2["Code_Dist"].astype(str) + "-" + m2["Code_NBHD"].astype(str)

In [28]:
m2 = m2.iloc[:,-2:]

In [29]:
result  = pd.merge(mon,m2,left_on="KEY", right_on="KEY", how='left')
result

,Year,Trimester,Code_Dist,Name_Dist,Code_NBHD,Name_NBHD,D,Euros_Month,KEY,Euros_M2_Month
0,2019,1,1,Ciutat Vella,1,el Raval,Average Euros/month,822.60,2019-1-1-1,14.10
1,2019,1,1,Ciutat Vella,2,el Barri Gòtic,Average Euros/month,1060.90,2019-1-1-2,14.50
2,2019,1,1,Ciutat Vella,3,la Barceloneta,Average Euros/month,891.30,2019-1-1-3,16.80
3,2019,1,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Average Euros/month,990.20,2019-1-1-4,14.70
4,2019,1,2,Eixample,5,el Fort Pienc,Average Euros/month,957.20,2019-1-2-5,13.70
...,...,...,...,...,...,...,...,...,...,...
1747,2014,4,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Average Euros/month,1130.29,2014-4-10-69,11.49
1748,2014,4,10,Sant Martí,70,el Besòs i el Maresme,Average Euros/month,504.19,2014-4-10-70,8.09
1749,2014,4,10,Sant Martí,71,Provençals del Poblenou,Average Euros/month,649.21,2014-4-10-71,10.03
1750,2014,4,10,Sant Martí,72,Sant Martí de Provençals,Average Euros/month,636.30,2014-4-10-72,8.86
1751,2014,4,10,Sant Martí,73,la Verneda i la Pau,Average Euros/month,552.58,2014-4-10-73,8.14

In [30]:
result.drop(columns = ["D", "KEY"], inplace=True)

In [31]:
result.to_csv(r'../datasets/Rent_Houses_Hist.csv', index = False)

# Density Historical

*01.Year* - Year of the data

*02.Code_Dist* - District code

*03.Name_Dist* - Name of the district

*04.Code_NBHD* - Neighborhood code

*05.Name_NBHD* - Name of the neighborhood

*06.Population* - Population

*07.Total_Area(ha)* - Area (ha)

*08.Residential_Area(ha)* - Surface for residential use

*09.Density(hab / ha)* - Density is the number of inhabitants per unit area

*10.Real_Density (room / ha)* - Net density is the number of inhabitants per unit of residential area

In [32]:
density = ["../datasets/all/densitat_2015.csv", "../datasets/all/densitat_2016.csv", 
           "../datasets/all/densitat_2017.csv", "../datasets/all/densitat_2018.csv", "../datasets/all/densitat_2019.csv"]

In [33]:
density_hist = HistMake("../datasets/all/densitat_2014.csv", density) 
density_hist

,any,codi_districte,nom_districte,codi_barri,nom_barri,població,superfície (ha),superfície residencial (ha),densitat (hab/ha),densitat neta (hab/ha)
0,2019,1,Ciutat Vella,1,el Raval,47353,110.00,49.60,430,955
1,2019,1,Ciutat Vella,2,el Barri Gòtic,18629,81.60,34.10,228,546
2,2019,1,Ciutat Vella,3,la Barceloneta,14857,109.50,13.50,136,1097
3,2019,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",22590,111.00,32.40,204,697
4,2019,2,Eixample,5,el Fort Pienc,32349,92.90,33.60,348,962
...,...,...,...,...,...,...,...,...,...,...
433,2014,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,13156,123.70,nan,106,571
434,2014,10,Sant Martí,70,el Besòs i el Maresme,22829,127.40,nan,179,891
435,2014,10,Sant Martí,71,Provençals del Poblenou,20096,110.50,nan,182,1491
436,2014,10,Sant Martí,72,Sant Martí de Provençals,25917,74.50,nan,348,1140
437,2014,10,Sant Martí,73,la Verneda i la Pau,28813,112.30,nan,257,889

In [34]:
density_hist.columns = ['Year', 'Code_Dist', 'Name_Dist', 'Code_NBHD', 'Name_NBHD', 'Population', 
                        'Total_Area(ha)', 'Residential_Area(ha)', 'Density(hab/ha)', 'Real_Density(hab/ha)']

In [35]:
density_hist.isnull().sum()

Year                      0
Code_Dist                 0
Name_Dist                 0
Code_NBHD                 0
Name_NBHD                 0
Population                0
Total_Area(ha)            0
Residential_Area(ha)    219
Density(hab/ha)           0
Real_Density(hab/ha)      0
dtype: int64

In [36]:
#Check if Residential_Area(ha) == Population/Real_Density(hab/ha)
not_true = [ x for x in density_hist.index if round(density_hist.loc[x, "Population"] / density_hist.loc[x, "Real_Density(hab/ha)"],ndigits=1) != density_hist.loc[x, "Residential_Area(ha)"]]
len(not_true)

259

In [37]:
for a in density_hist.index:
    if round(density_hist.loc[a, "Population"] / density_hist.loc[a, "Real_Density(hab/ha)"],ndigits=1) != density_hist.loc[a, "Residential_Area(ha)"]:
        print( round(density_hist.loc[a, "Population"] / density_hist.loc[a, "Real_Density(hab/ha)"],ndigits=1) , density_hist.loc[a, "Residential_Area(ha)"])

67.0 66.9
65.1 65.2
37.9 38.0
36.2 35.9
59.3 59.4
81.8 81.7
247.3 242.4
42.4 42.5
82.0 82.1
48.3 48.2
38.7 38.8
6.0 6.1
6.2 6.1
21.1 21.2
24.4 24.3
113.7 113.9
67.0 66.9
65.1 65.2
36.2 35.9
31.9 31.8
81.9 81.7
247.3 242.4
96.1 95.9
47.1 47.2
83.6 83.7
52.1 52.0
63.3 63.2
18.2 18.3
49.6 49.7
113.8 113.9
82.1 82.3
89.8 89.5
96.3 96.2
52.2 52.1
39.3 39.4
63.3 63.4
14.2 14.3
76.7 76.6
19.2 19.1
13.7 13.8
49.7 nan
34.2 nan
13.5 nan
32.4 nan
33.4 nan
51.2 nan
114.0 nan
67.0 nan
65.3 nan
41.3 nan
38.6 nan
35.7 nan
39.3 nan
11.4 nan
22.4 nan
20.6 nan
25.1 nan
55.6 nan
65.2 nan
32.6 nan
82.4 nan
89.1 nan
96.1 nan
42.6 nan
82.0 nan
95.5 nan
53.2 nan
46.8 nan
12.4 nan
19.2 nan
83.5 nan
38.6 nan
23.7 nan
14.3 nan
52.1 nan
39.5 nan
39.4 nan
18.8 nan
18.1 nan
11.5 nan
7.8 nan
6.1 nan
63.3 nan
29.0 nan
35.2 nan
13.4 nan
6.1 nan
22.3 nan
11.1 nan
18.2 nan
14.3 nan
27.3 nan
12.6 nan
21.1 nan
15.1 nan
6.8 nan
12.7 nan
3.9 nan
17.9 nan
76.8 nan
39.6 nan
19.2 nan
22.5 nan
43.0 nan
23.6 nan
19.9 nan
24.2 nan
42.6 nan
23.0 nan
25.6 nan
13.5 nan
22.6 nan
40.1 nan
49.7 nan
34.1 nan
13.1 nan
32.3 nan
33.4 nan
51.4 nan
114.0 nan
67.0 nan
65.8 nan
41.5 nan
39.6 nan
36.3 nan
39.1 nan
11.4 nan
22.4 nan
20.6 nan
25.1 nan
55.6 nan
65.2 nan
32.7 nan
81.9 nan
90.2 nan
94.4 nan
42.5 nan
82.0 nan
95.5 nan
53.3 nan
46.8 nan
12.4 nan
19.2 nan
83.5 nan
38.5 nan
23.7 nan
14.3 nan
52.3 nan
39.5 nan
39.4 nan
18.8 nan
18.1 nan
11.7 nan
8.1 nan
6.1 nan
63.3 nan
29.0 nan
35.2 nan
13.4 nan
8.3 nan
22.4 nan
11.2 nan
18.2 nan
14.3 nan
27.4 nan
12.6 nan
21.6 nan
15.2 nan
6.7 nan
12.7 nan
3.9 nan
17.9 nan
76.8 nan
39.6 nan
19.2 nan
22.5 nan
42.9 nan
23.6 nan
19.7 nan
24.2 nan
42.5 nan
23.0 nan
25.6 nan
13.5 nan
22.6 nan
40.1 nan
49.7 nan
34.1 nan
13.1 nan
32.3 nan
33.4 nan
51.5 nan
113.8 nan
67.0 nan
65.8 nan
41.5 nan
35.9 nan
36.9 nan
39.1 nan
11.4 nan
22.4 nan
20.6 nan
25.1 nan
55.6 nan
64.9 nan
32.7 nan
81.5 nan
90.3 nan
94.0 nan
42.5 nan
82.0 nan
95.4 nan
53.2 nan
47.0 nan
12.4 nan
19.4 nan
83.5 nan
38.6 nan
23.7 nan
14.3 nan
52.3 nan
39.5 nan
39.4 nan
18.8 nan
18.1 nan
11.7 nan
8.1 nan
6.1 nan
63.4 nan
29.0 nan
34.8 nan
13.4 nan
8.3 nan
22.5 nan
9.1 nan
18.3 nan
14.6 nan
27.2 nan
12.6 nan
21.6 nan
15.1 nan
6.8 nan
12.7 nan
3.9 nan
16.1 nan
76.8 nan
39.4 nan
19.1 nan
22.5 nan
42.9 nan
23.6 nan
19.6 nan
24.2 nan
42.6 nan
23.0 nan
25.6 nan
13.5 nan
22.7 nan
32.4 nan

In [38]:
#create a list to replace the null Values in the Residential_Area
density_hist["Residential_Area(ha)"].replace(np.nan, "null", inplace= True)
ccc = []
for x in density_hist.index:
    if density_hist.loc[x, "Residential_Area(ha)"] == 'null':
        ccc.append(round(density_hist.loc[x, "Population"] / density_hist.loc[x, "Real_Density(hab/ha)"],ndigits=1))
    else:
        ccc.append(density_hist.loc[x, "Residential_Area(ha)"])

In [39]:
#Replace the Country with the list
density_hist["Residential_Area(ha)"] = ccc

In [40]:
density_hist.to_csv(r'../datasets/Density_Hist.csv', index = False)

# Composition of Houses

## Composition of the Houses Ages Historical

*01.Year* - Year of the data

*02.Code_Dist* - District code

*03.Name_Dist* - Name of the district

*04.Code_NBHD* - Neighborhood code

*05.Name_NBHD* - Name of the neighborhood

*06.Nationality* - Nationality of people

*07.AVG_Age* - Average age of the population

In [41]:
den = ["../datasets/all/domicilis_edat_mitjana_nacionalitat_2015.csv", 
           "../datasets/all/domicilis_edat_mitjana_nacionalitat_2016.csv", 
           "../datasets/all/domicilis_edat_mitjana_nacionalitat_2017.csv", 
           "../datasets/all/domicilis_edat_mitjana_nacionalitat_2018.csv", 
           "../datasets/all/domicilis_edat_mitjana_nacionalitat_2019.csv"]

In [42]:
aa = HistMake("../datasets/all/domicilis_edat_mitjana_nacionalitat_2014.csv", den) 
aa

,any,codi_districte,nom_districte,codi_barri,nom_barri,nombre,edat_mitjana,nacionalitat
0,2019,1,Ciutat Vella,1,el Raval,Tots espanyols,50.25,NaN
1,2019,1,Ciutat Vella,2,el Barri Gòtic,Tots espanyols,51.08,NaN
2,2019,1,Ciutat Vella,3,la Barceloneta,Tots espanyols,50.57,NaN
3,2019,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Tots espanyols,49.73,NaN
4,2019,2,Eixample,5,el Fort Pienc,Tots espanyols,49.02,NaN
...,...,...,...,...,...,...,...,...
1309,2014,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,NaN,33.50,Llars mixtes
1310,2014,10,Sant Martí,70,el Besòs i el Maresme,NaN,33.30,Llars mixtes
1311,2014,10,Sant Martí,71,Provençals del Poblenou,NaN,32.20,Llars mixtes
1312,2014,10,Sant Martí,72,Sant Martí de Provençals,NaN,33.50,Llars mixtes
1313,2014,10,Sant Martí,73,la Verneda i la Pau,NaN,35.50,Llars mixtes

In [43]:
aa.loc[aa['nacionalitat'].notnull(), "nombre"] = aa["nacionalitat"]

In [44]:
aa.nacionalitat.value_counts()

Tots estrangers     365
Tots espanyols      365
Llars mixtes        219
Domicilis mixtos    146
Name: nacionalitat, dtype: int64

In [45]:
aa.isnull().sum()

any                 0
codi_districte      0
nom_districte       0
codi_barri          0
nom_barri           0
nombre              0
edat_mitjana        0
nacionalitat      219
dtype: int64

In [46]:
comp_hist = aa.iloc[:,0:-1]

In [47]:
comp_hist.columns = ['Year', 'Code_Dist', 'Name_Dist', 'Code_NBHD', 'Name_NBHD', 'Nationality', 'AVG_Age']

In [48]:
comp_hist

,Year,Code_Dist,Name_Dist,Code_NBHD,Name_NBHD,Nationality,AVG_Age
0,2019,1,Ciutat Vella,1,el Raval,Tots espanyols,50.25
1,2019,1,Ciutat Vella,2,el Barri Gòtic,Tots espanyols,51.08
2,2019,1,Ciutat Vella,3,la Barceloneta,Tots espanyols,50.57
3,2019,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Tots espanyols,49.73
4,2019,2,Eixample,5,el Fort Pienc,Tots espanyols,49.02
...,...,...,...,...,...,...,...
1309,2014,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Llars mixtes,33.50
1310,2014,10,Sant Martí,70,el Besòs i el Maresme,Llars mixtes,33.30
1311,2014,10,Sant Martí,71,Provençals del Poblenou,Llars mixtes,32.20
1312,2014,10,Sant Martí,72,Sant Martí de Provençals,Llars mixtes,33.50
1313,2014,10,Sant Martí,73,la Verneda i la Pau,Llars mixtes,35.50

In [49]:
comp_hist.Nationality.value_counts()

Tots estrangers     438
Tots espanyols      438
Llars mixtes        219
Domicilis mixtos    219
Name: Nationality, dtype: int64

In [50]:
#Replace the Catalan manual
comp_hist.Nationality.replace("Tots estrangers", "Foreigners", inplace= True)
comp_hist.Nationality.replace("Tots espanyols", "Spaniards", inplace= True)
comp_hist.Nationality.replace("Domicilis mixtos", "Mixed", inplace= True)
comp_hist.Nationality.replace("Llars mixtes", "Mixed", inplace= True)

In [51]:
comp_hist.isnull().sum()

Year           0
Code_Dist      0
Name_Dist      0
Code_NBHD      0
Name_NBHD      0
Nationality    0
AVG_Age        0
dtype: int64

## Composition of the Houses Nationality Historical

*01.Year* - Year of the data

*02.Code_Dist* - District code

*03.Name_Dist* - Name of the district

*04.Code_NBHD* - Neighborhood code

*05.Name_NBHD* - Name of the neighborhood

*06.Nationality* - Nationality of people

*07.Amount* -Number of people

In [52]:
den = ["../datasets/all/domicilis_nacionalitat_2015.csv",  "../datasets/all/domicilis_nacionalitat_2016.csv", 
       "../datasets/all/domicilis_nacionalitat_2017.csv", "../datasets/all/domicilis_nacionalitat_2018.csv", 
       "../datasets/all/domicilis_nacionalitat_2019.csv"]

In [53]:
comp = HistMake("../datasets/all/domicilis_nacionalitat_2014.csv", den) 
comp

,any,codi_districte,nom_districte,codi_barri,nom_barri,nacionalitat,nombre
0,2019,1,Ciutat Vella,1,el Raval,Tots espanyols,8025
1,2019,1,Ciutat Vella,2,el Barri Gòtic,Tots espanyols,3105
2,2019,1,Ciutat Vella,3,la Barceloneta,Tots espanyols,3896
3,2019,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Tots espanyols,5305
4,2019,2,Eixample,5,el Fort Pienc,Tots espanyols,9533
...,...,...,...,...,...,...,...
1315,2014,10,Sant Martí,70,el Besòs i el Maresme,Llars mixtes,891
1316,2014,10,Sant Martí,71,Provençals del Poblenou,Llars mixtes,659
1317,2014,10,Sant Martí,72,Sant Martí de Provençals,Llars mixtes,741
1318,2014,10,Sant Martí,73,la Verneda i la Pau,Llars mixtes,782
1319,2014,99,No consta,99,No consta,Llars mixtes,0

In [54]:
comp.isnull().sum()

any               0
codi_districte    0
nom_districte     0
codi_barri        0
nom_barri         0
nacionalitat      0
nombre            0
dtype: int64

In [55]:
comp.columns = ['Year', 'Code_Dist', 'Name_Dist', 'Code_NBHD', 'Name_NBHD', 'Nationality', 'Amount']

In [56]:
#Replace the Catalan manual
comp.Nationality.replace("Tots estrangers", "Foreigners", inplace= True)
comp.Nationality.replace("Tots espanyols", "Spaniards", inplace= True)
comp.Nationality.replace("Domicilis mixtos", "Mixed", inplace= True)
comp.Nationality.replace("Llars mixtes", "Mixed", inplace= True)

In [57]:
comp

,Year,Code_Dist,Name_Dist,Code_NBHD,Name_NBHD,Nationality,Amount
0,2019,1,Ciutat Vella,1,el Raval,Spaniards,8025
1,2019,1,Ciutat Vella,2,el Barri Gòtic,Spaniards,3105
2,2019,1,Ciutat Vella,3,la Barceloneta,Spaniards,3896
3,2019,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Spaniards,5305
4,2019,2,Eixample,5,el Fort Pienc,Spaniards,9533
...,...,...,...,...,...,...,...
1315,2014,10,Sant Martí,70,el Besòs i el Maresme,Mixed,891
1316,2014,10,Sant Martí,71,Provençals del Poblenou,Mixed,659
1317,2014,10,Sant Martí,72,Sant Martí de Provençals,Mixed,741
1318,2014,10,Sant Martí,73,la Verneda i la Pau,Mixed,782
1319,2014,99,No consta,99,No consta,Mixed,0

In [58]:
comp = comp[comp["Code_NBHD"] != 99]
comp.reset_index(drop=True)

,Year,Code_Dist,Name_Dist,Code_NBHD,Name_NBHD,Nationality,Amount
0,2019,1,Ciutat Vella,1,el Raval,Spaniards,8025
1,2019,1,Ciutat Vella,2,el Barri Gòtic,Spaniards,3105
2,2019,1,Ciutat Vella,3,la Barceloneta,Spaniards,3896
3,2019,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Spaniards,5305
4,2019,2,Eixample,5,el Fort Pienc,Spaniards,9533
...,...,...,...,...,...,...,...
1309,2014,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Mixed,566
1310,2014,10,Sant Martí,70,el Besòs i el Maresme,Mixed,891
1311,2014,10,Sant Martí,71,Provençals del Poblenou,Mixed,659
1312,2014,10,Sant Martí,72,Sant Martí de Provençals,Mixed,741
1313,2014,10,Sant Martí,73,la Verneda i la Pau,Mixed,782

## Merge

*01.Year* - Year of the data

*02.Code_Dist* - District code

*03.Name_Dist* - Name of the district

*04.Code_NBHD* - Neighborhood code

*05.Name_NBHD* - Name of the neighborhood

*06.Nationality* - Nationality of people

*07.Amount* -Number of people

*08.AVG_Age* - Average age of the population

In [59]:
comp["KEY"] =  comp["Year"].astype(str) +  "-" + comp["Code_Dist"].astype(str) + "-" + comp["Code_NBHD"].astype(str) + "-" + comp["Nationality"]
comp_hist["KEY"] = comp_hist["Year"].astype(str) + "-" + comp_hist["Code_Dist"].astype(str) +  "-" + comp_hist["Code_NBHD"].astype(str) + "-" + comp_hist["Nationality"]

d:\anaconda\envs\dataanalytic\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [60]:
comp_hist.KEY.value_counts()

2016-7-36-Foreigners    1
2016-5-22-Mixed         1
2019-1-3-Mixed          1
2015-8-53-Mixed         1
2016-2-8-Mixed          1
                       ..
2019-3-18-Mixed         1
2018-9-60-Spaniards     1
2017-8-51-Mixed         1
2015-9-63-Spaniards     1
2019-7-40-Spaniards     1
Name: KEY, Length: 1314, dtype: int64

In [61]:
comp.KEY.value_counts()

2016-7-36-Foreigners    1
2016-5-22-Mixed         1
2019-1-3-Mixed          1
2015-8-53-Mixed         1
2016-2-8-Mixed          1
                       ..
2019-3-18-Mixed         1
2018-9-60-Spaniards     1
2017-8-51-Mixed         1
2015-9-63-Spaniards     1
2019-7-40-Spaniards     1
Name: KEY, Length: 1314, dtype: int64

In [130]:
df = pd.merge(comp,comp_hist, left_on="KEY", right_on="KEY", how='left')
df

,Year_x,Code_Dist_x,Name_Dist_x,Code_NBHD_x,Name_NBHD_x,Nationality_x,Amount,KEY,Year_y,Code_Dist_y,Name_Dist_y,Code_NBHD_y,Name_NBHD_y,Nationality_y,AVG_Age
0,2019,1,Ciutat Vella,1,el Raval,Spaniards,8025,2019-1-1-Spaniards,2019,1,Ciutat Vella,1,el Raval,Spaniards,50.25
1,2019,1,Ciutat Vella,2,el Barri Gòtic,Spaniards,3105,2019-1-2-Spaniards,2019,1,Ciutat Vella,2,el Barri Gòtic,Spaniards,51.08
2,2019,1,Ciutat Vella,3,la Barceloneta,Spaniards,3896,2019-1-3-Spaniards,2019,1,Ciutat Vella,3,la Barceloneta,Spaniards,50.57
3,2019,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Spaniards,5305,2019-1-4-Spaniards,2019,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Spaniards,49.73
4,2019,2,Eixample,5,el Fort Pienc,Spaniards,9533,2019-2-5-Spaniards,2019,2,Eixample,5,el Fort Pienc,Spaniards,49.02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1309,2014,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Mixed,566,2014-10-69-Mixed,2014,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Mixed,33.50
1310,2014,10,Sant Martí,70,el Besòs i el Maresme,Mixed,891,2014-10-70-Mixed,2014,10,Sant Martí,70,el Besòs i el Maresme,Mixed,33.30
1311,2014,10,Sant Martí,71,Provençals del Poblenou,Mixed,659,2014-10-71-Mixed,2014,10,Sant Martí,71,Provençals del Poblenou,Mixed,32.20
1312,2014,10,Sant Martí,72,Sant Martí de Provençals,Mixed,741,2014-10-72-Mixed,2014,10,Sant Martí,72,Sant Martí de Provençals,Mixed,33.50
1313,2014,10,Sant Martí,73,la Verneda i la Pau,Mixed,782,2014-10-73-Mixed,2014,10,Sant Martí,73,la Verneda i la Pau,Mixed,35.50

In [131]:
df.columns

Index(['Year_x',
       'Code_Dist_x',
       'Name_Dist_x',
       'Code_NBHD_x',
       'Name_NBHD_x',
       'Nationality_x',
       'Amount',
       'KEY',
       'Year_y',
       'Code_Dist_y',
       'Name_Dist_y',
       'Code_NBHD_y',
       'Name_NBHD_y',
       'Nationality_y',
       'AVG_Age'],
      dtype='object')

In [132]:
df.drop(columns=['KEY', 'Year_y', 'Code_Dist_y', 'Name_Dist_y', 'Code_NBHD_y', 'Name_NBHD_y', 'Nationality_y'], inplace=True)

In [133]:
df.columns = ['Year', 'Code_Dist', 'Name_Dist', 'Code_NBHD','Name_NBHD', 'Nationality', 'Amount', 'AVG_Age']

In [134]:
df.to_csv(r'../datasets/Compo_House_Hist.csv', index = False)

# Nationality

*01.Year* - Year of the data

*02.Code_Dist* - District code

*03.Name_Dist* - Name of the district

*04.Code_NBHD* - Neighborhood code

*05.Name_NBHD* - Name of the neighborhood

*06.Gender* - Gender of the persons (Binary Category)

*07.Nationality* - Nationality of people

*08.Amount* - Number of people

In [135]:
nac = ["../datasets/all/ine_nacionalitat_per_sexe_2015.csv", 
           "../datasets/all/ine_nacionalitat_per_sexe_2016.csv", 
           "../datasets/all/ine_nacionalitat_per_sexe_2017.csv", 
           "../datasets/all/ine_nacionalitat_per_sexe_2018.csv", 
           "../datasets/all/ine_nacionalitat_per_sexe_2019.csv"]

In [136]:
ine = HistMake("../datasets/all/ine_nacionalitat_per_sexe_2014.csv", nac)
ine

,any,codi_districte,nom_districte,codi_barri,nom_barri,sexe,nacionalitat,nombre
0,2019,1,Ciutat Vella,1,el Raval,Dona,Espanya,11666.00
1,2019,1,Ciutat Vella,2,el Barri Gòtic,Dona,Espanya,4214.00
2,2019,1,Ciutat Vella,3,la Barceloneta,Dona,Espanya,4801.00
3,2019,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Dona,Espanya,6570.00
4,2019,2,Eixample,5,el Fort Pienc,Dona,Espanya,13074.00
...,...,...,...,...,...,...,...,...
153441,2014,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Dona,Apàtrides,0.00
153442,2014,10,Sant Martí,70,el Besòs i el Maresme,Dona,Apàtrides,0.00
153443,2014,10,Sant Martí,71,Provençals del Poblenou,Dona,Apàtrides,0.00
153444,2014,10,Sant Martí,72,Sant Martí de Provençals,Dona,Apàtrides,0.00
153445,2014,10,Sant Martí,73,la Verneda i la Pau,Dona,Apàtrides,0.00

In [137]:
ine[ine.nombre.isnull()]

,any,codi_districte,nom_districte,codi_barri,nom_barri,sexe,nacionalitat,nombre
153376,2014,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Dona,Apàtrides,nan

In [138]:
ine.columns = ['Year', 'Code_Dist', 'Name_Dist', 'Code_NBHD', 'Name_NBHD', 'Gender' ,'Nationality', 'Amount']

In [139]:
ine

,Year,Code_Dist,Name_Dist,Code_NBHD,Name_NBHD,Gender,Nationality,Amount
0,2019,1,Ciutat Vella,1,el Raval,Dona,Espanya,11666.00
1,2019,1,Ciutat Vella,2,el Barri Gòtic,Dona,Espanya,4214.00
2,2019,1,Ciutat Vella,3,la Barceloneta,Dona,Espanya,4801.00
3,2019,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Dona,Espanya,6570.00
4,2019,2,Eixample,5,el Fort Pienc,Dona,Espanya,13074.00
...,...,...,...,...,...,...,...,...
153441,2014,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Dona,Apàtrides,0.00
153442,2014,10,Sant Martí,70,el Besòs i el Maresme,Dona,Apàtrides,0.00
153443,2014,10,Sant Martí,71,Provençals del Poblenou,Dona,Apàtrides,0.00
153444,2014,10,Sant Martí,72,Sant Martí de Provençals,Dona,Apàtrides,0.00
153445,2014,10,Sant Martí,73,la Verneda i la Pau,Dona,Apàtrides,0.00

In [140]:
ine.Nationality.unique()

array(['Espanya', 'Itàlia', 'França', 'Regne Unit', 'Rússia', 'Alemanya',
       'Romania', 'Portugal', 'Ucraïna', 'Geòrgia', 'Països Baixos',
       'Polònia', 'Bulgària', 'Suècia', 'Bèlgica', 'Grècia', 'Irlanda',
       'Suïssa', 'Hongria', 'Àustria', 'Dinamarca', 'Finlàndia',
       'Moldàvia', 'Lituània', 'Belarús', 'Txèquia', 'Sèrbia', 'Albània',
       'Croàcia', 'Noruega', 'Eslovàquia', 'Andorra', 'Letònia',
       'Estònia', 'Eslovènia', 'Macedònia', 'Islàndia',
       'Bòsnia i Hercegovina', 'Luxemburg', 'Malta', 'Montenegro',
       'Liechtenstein', 'Mònaco', 'San Marino', "Altres països d'Europa",
       'Marroc, el', 'Algèria', 'Senegal', 'Nigèria', 'Egipte', 'Ghana',
       'Guinea', 'Guinea Equatorial', 'Tunísia', 'Camerun', 'Gàmbia',
       'Sud-àfrica', 'Mali', 'Líbia', 'Guinea-Bissau', "Costa d'Ivori",
       'Kenya', 'Mauritània', 'Angola', 'Congo', 'Etiòpia',
       'Burkina Faso', 'Tanzània', 'Sierra Leone', 'Moçambic',
       'Sudan, el', 'Benín', 'Madagascar', 'Somàlia', 'Togo', 'Uganda',
       'Cap Verd', 'Níger', 'Maurici', 'Namíbia', 'Zimbàbue', 'Ruanda',
       'Libèria', 'São Tomé i Príncipe', 'Eritrea', 'Malawi',
       'República Centreafricana', 'Botswana', 'Burundi', 'Gabon',
       'Zàmbia', 'Txad', 'Seychelles', 'Comores, les', 'Djibouti',
       'Swaziland', 'República Democràtica del Congo',
       "Altres països d'Àfrica", 'Colòmbia', 'Hondures', 'Perú',
       'Veneçuela', 'Bolívia', 'Equador', 'Argentina', 'Brasil',
       'República Dominicana', 'Estats Units, els', 'Mèxic', 'Paraguai',
       'Xile', 'Cuba', 'El Salvador', 'Uruguai', 'Nicaragua', 'Canadà',
       'Costa Rica', 'Panamà', 'Guatemala', 'Dominica', 'Haití',
       'Trinitat i Tobago', 'Jamaica', 'Barbados', 'Bahames, les',
       'Saint Vincent i les Grenadines', 'Guyana', 'Surinam',
       'Antigua i Barbuda', 'Belize', 'Grenada', 'Saint Kitts i Nevis',
       'Xina', 'Pakistan', 'Filipines', 'Índia', 'Bangladesh', 'Armènia',
       'Japó', 'Nepal', 'Turquia', 'Iran', 'Corea del Sud', 'Síria',
       'Israel', 'Líban', 'Kazakhstan', 'Vietnam', 'Tailàndia',
       'Jordània', 'Indonèsia', 'Azerbaidjan', 'Xipre', "Iraq, l'",
       'Uzbekistan', 'Afganistan', 'Aràbia Saudí', 'Palestina',
       'Malàisia', 'Mongòlia', 'Singapur', 'Kirguizstan', 'Kuwait',
       'Sri Lanka', 'Iemen, el', 'Qatar', 'Turkmenistan',
       'Emirats Àrabs Units, els', 'Myanmar', 'Cambodja', 'Tadjikistan',
       'Bahrain', 'Maldives', 'Lao', 'Oman', "Altres països d'Àsia",
       'Austràlia', 'Nova Zelanda', 'Illes Salomó', 'Apàtrides',
       "Altres països o territoris de la resta d'Europa",
       'Guinea - Bissau', "Altres països o territoris d'Àfrica",
       'Trinidad i Tobago',
       "Altres països o territoris d'Amèrica del Sud", 'Corea',
       'Territoris Palestins', 'Timor-Leste',
       "Altres països o territoris d'Àsia",
       "Altres països o territoris d'Europa", 'Lesotho',
       "Altres països o territoris d'Amèrica",
       "Altres països o  territoris d'Àsia", 'República  Centreafricana',
       'Saint Lucia', "Altres països o territoris d'Oceania",
       'Altres països Europa', 'Altres països Àfrica', 'Kirguizistan',
       'Altres països Àsia', 'Marroc', 'Bahames', 'Emirats Àrabs Units',
       'Iemen', 'Iraq', 'Laos'], dtype=object)

In [159]:
nat_cat = ine.Nationality.unique()
nat_eng = ['Spain', 'Italy', 'France', 'United Kingdom', 'Russia', 'Germany','Romania', 'Portugal', 'Ukraine', 'Georgia', 
           'Netherlands', 'Poland', 'Bulgaria', 'Sweden', 'Belgium', 'Greece', 'Ireland', 'Switzerland', 'Hungary', 
           'Austria', 'Denmark', 'Finland','Moldova', 'Lithuania', 'Belarus', 'Czech Republic', 'Serbia', 'Albania', 
           'Croatia', 'Norway', 'Slovakia', 'Andorra', 'Latvia','Estonia', 'Slovenia', 'Macedonia', 'Iceland', 
           'Bosnia and Herzegovina', 'Luxembourg', 'Malta', 'Montenegro','Liechtenstein', 'Monaco', 'San Marino', 
           'Other European countries or territories', 'Morocco', 'Algeria', 'Senegal', 'Nigeria', 'Egypt', 'Ghana',
           'Guinea', 'Equatorial Guinea', 'Tunisia', 'Cameroon', 'Gambia','South Africa', 'Mali', 'Libya', 'Guinea-Bissau', 
           'Ivory Coast', 'Kenya', 'Mauritania', 'Angola', 'Congo', 'Ethiopia','Burkina Faso', 'Tanzania', 'Sierra Leone', 
           'Mozambique', 'Sudan', 'Benin', 'Madagascar', 'Somalia', 'Togo', 'Uganda','Cape Verde', 'Niger', 'Mauritius',           
           'Namibia', 'Zimbabwe', 'Rwanda', 'Liberia', 'São Tomé and Príncipe', 'Eritrea', 'Malawi', 'Central African Republic', 
           'Botswana', 'Burundi', 'Gabon', 'Zambia', 'Chad', 'Seychelles', 'Comoros, the', 'Djibouti', 'Swaziland', 
           'Democratic Republic of the Congo','Other African countries', 'Colombia', 'Honduras', 'Peru','Venezuela', 'Bolivia', 
           'Ecuador', 'Argentina', 'Brazil','Dominican Republic', 'United States,', 'Mexico', 'Paraguay','Chile', 'Cuba', 
           'El Salvador', 'Uruguay', 'Nicaragua','Canada','Costa Rica', 'Panama', 'Guatemala', 'Dominica', 'Haiti',
           'Trinidad and Tobago', 'Jamaica', 'Barbados','Bahamas, the','Saint Vincent and the Grenadines', 'Guyana', 'Suriname',
           'Antigua and Barbuda', 'Belize', 'Grenada','Saint Kitts and Nevis','China', 'Pakistan', 'Philippines', 'India', 
           'Bangladesh', 'Armenia','Japan', 'Nepal','Turkey', 'Iran', 'South Korea', 'Syria','Israel', 'Lebanon', 'Kazakhstan', 
           'Vietnam', 'Thailand','Jordan','Indonesia', 'Azerbaijan', 'Cyprus', 'Iraqe', 'Uzbekistan', 'Afghanistan', 
           'Saudi Arabia', 'Palestine','Malaysia','Mongolia', 'Singapore', 'Kyrgyzstan', 'Kuwait','Sri Lanka', 'Yemen', 'Qatar', 
           'Turkmenistan','United Arab Emirates','Myanmar','Cambodia ','Tajikistan','Bahrain', 'Maldives', 'Lao', 'Oman', 
           'Other Asian Countries', 'Australia', 'New Zealand', 'Solomon Islands', 
           "Other European countries or territories",'Guinea-Bissau', 'Other Africa countries or territories',
           'Trinidad and Tobago',"Other South America countries or territories", 'Korea','Palestinian Territories', 
           'Timor-Leste',"Other Asia countries or territories","Other European countries or territories", 'Lesotho',
           "Other America countries or territories","Other Asia countries or territories", 'Central African Republic', 
           'Saint Lucia', 'Other Oceania countries or territories','Other European countries or territories', 
           'Other countries Africa', 'Kyrgyzstan','Other Asia countries or territories', 'Morocco', 'Bahamas', 
           'United Arab Emirates','Yemen', 'Iraq', 'Laos']
europa = ['Spain', 'Italy', 'France', 'United Kingdom', 'Russia', 'Germany', 'Romania', 'Portugal', 'Ukraine', 'Georgia',
          'Netherlands', 'Poland', 'Bulgaria', 'Sweden', 'Belgium', 'Greece', 'Ireland', 'Switzerland', 'Hungary', 'Austria',
          'Denmark', 'Finland', 'Moldova', 'Lithuania', 'Belarus', 'Czech Republic', 'Serbia', 'Albania', 'Croatia', 'Norway', 
          'Slovakia', 'Andorra', 'Latvia', 'Estonia', 'Slovenia', 'Macedonia', 'Iceland', 'Bosnia and Herzegovina',
          'Luxembourg', 'Malta', 'Montenegro', 'Liechtenstein', 'Monaco', 'San Marino', 
          'Other European countries or territories']

africa = ['Morocco', 'Algeria', 'Senegal', 'Nigeria', 'Egypt', 'Ghana', 'Guinea', 'Equatorial Guinea', 'Tunisia', 'Cameroon',
          'Gambia', 'South Africa', 'Mali', 'Libya', 'Guinea-Bissau', 'Ivory Coast', 'Kenya', 'Mauritania', 'Angola', 'Congo',
          'Ethiopia', 'Burkina Faso', 'Tanzania', 'Sierra Leone', 'Mozambique', 'Sudan', 'Benin', 'Madagascar', 'Somalia',
          'Togo', 'Uganda', 'Cape Verde', 'Niger', 'Mauritius', 'Namibia', 'Zimbabwe', 'Rwanda', 'Liberia', 'Guinea-Bissau',
          'São Tomé and Príncipe', 'Eritrea', 'Malawi', 'Central African Republic', 'Botswana', 'Burundi', 'Gabon', 'Zambia',
          'Chad', 'Seychelles', 'Comoros', 'Djibouti','Swaziland', 'Democratic Republic of the Congo', 'Lesotho', 
          'Central African Republic', 'Other Africa countries or territories', 'Morocco']
latinamerica = ['Colombia', 'Honduras', 'Peru', 'Venezuela', 'Bolivia', 'Ecuador', 'Argentina', 'Brazil', 'Dominican Republic',
                'Paraguay', 'Chile', 'Cuba', 'El Salvador', 'Uruguay','Nicaragua', 'Costa Rica', 'Panama', 'Guatemala', 
                'Dominica', 'Haiti', 'Trinidad and Tobago', 'Jamaica', 'Barbados', 'Bahamas', 
                'Saint Vincent and the Grenadines','Guyana', 'Suriname', 'Antigua and Barbuda', 'Belize', 'Grenada',
                'Saint Kitts and Nevis','Bahamas',"Other South America countries or territories"]
northamerica = ['United States,', 'Mexico', 'Canada', ]

asia = ['China', 'Pakistan', 'Philippines', 'India', 'Bangladesh', 'Armenia', 'Japan', 'Nepal', 'Turkey', 'Iran',
        'South Korea','Syria','Israel', 'Lebanon', 'Kazakhstan', 'Vietnam', 'Thailand','Jordan', 'Indonesia', 'Azerbaijan',
        'Cyprus', 'Iraq','Uzbekistan', 'Afghanistan', 'Saudi Arabia', 'Palestine', 'Malaysia', 'Mongolia', 'Singapore',         
        'Kyrgyzstan', 'Kuwait','Sri Lanka', 'Yemen', 'Qatar', 'Turkmenistan', 'United Arab Emirates','Myanmar','Cambodia ',        
        'Tajikistan', 'Bahrain', 'Maldives', 'Lao', 'Oman', 'Other Asia countries or territories', 'Korea', 'Kyrgyzstan',        
        'United Arab Emirates', 'Yemen', 'Iraq', 'Laos']

oceania = ['Australia', 'New Zealand', 'Solomon Islands', 'Other Oceania countries or territories']


zip_nat = zip(nat_cat, nat_eng)
dict_nat = dict(zip_nat)
ine.Nationality.replace(dict_nat, inplace=True)
inmigran = ['Italy', 'France', 'United Kingdom', 'Russia', 'Germany','Romania', 'Portugal', 'Ukraine', 'Georgia', 
           'Netherlands', 'Poland', 'Bulgaria', 'Sweden', 'Belgium', 'Greece', 'Ireland', 'Switzerland', 'Hungary', 
           'Austria', 'Denmark', 'Finland','Moldova', 'Lithuania', 'Belarus', 'Czech Republic', 'Serbia', 'Albania', 
           'Croatia', 'Norway', 'Slovakia', 'Andorra', 'Latvia','Estonia', 'Slovenia', 'Macedonia', 'Iceland', 
           'Bosnia and Herzegovina', 'Luxembourg', 'Malta', 'Montenegro','Liechtenstein', 'Monaco', 'San Marino', 
           'Other European countries or territories', 'Morocco', 'Algeria', 'Senegal', 'Nigeria', 'Egypt', 'Ghana',
           'Guinea', 'Equatorial Guinea', 'Tunisia', 'Cameroon', 'Gambia','South Africa', 'Mali', 'Libya', 'Guinea-Bissau', 
           'Ivory Coast', 'Kenya', 'Mauritania', 'Angola', 'Congo', 'Ethiopia','Burkina Faso', 'Tanzania', 'Sierra Leone', 
           'Mozambique', 'Sudan', 'Benin', 'Madagascar', 'Somalia', 'Togo', 'Uganda','Cape Verde', 'Niger', 'Mauritius',           
           'Namibia', 'Zimbabwe', 'Rwanda', 'Liberia', 'São Tomé and Príncipe', 'Eritrea', 'Malawi', 'Central African Republic', 
           'Botswana', 'Burundi', 'Gabon', 'Zambia', 'Chad', 'Seychelles', 'Comoros, the', 'Djibouti', 'Swaziland', 
           'Democratic Republic of the Congo','Other African countries', 'Colombia', 'Honduras', 'Peru','Venezuela', 'Bolivia', 
           'Ecuador', 'Argentina', 'Brazil','Dominican Republic', 'United States,', 'Mexico', 'Paraguay','Chile', 'Cuba', 
           'El Salvador', 'Uruguay', 'Nicaragua','Canada','Costa Rica', 'Panama', 'Guatemala', 'Dominica', 'Haiti',
           'Trinidad and Tobago', 'Jamaica', 'Barbados','Bahamas, the','Saint Vincent and the Grenadines', 'Guyana', 'Suriname',
           'Antigua and Barbuda', 'Belize', 'Grenada','Saint Kitts and Nevis','China', 'Pakistan', 'Philippines', 'India', 
           'Bangladesh', 'Armenia','Japan', 'Nepal','Turkey', 'Iran', 'South Korea', 'Syria','Israel', 'Lebanon', 'Kazakhstan', 
           'Vietnam', 'Thailand','Jordan','Indonesia', 'Azerbaijan', 'Cyprus', 'Iraqe', 'Uzbekistan', 'Afghanistan', 
           'Saudi Arabia', 'Palestine','Malaysia','Mongolia', 'Singapore', 'Kyrgyzstan', 'Kuwait','Sri Lanka', 'Yemen', 'Qatar', 
           'Turkmenistan','United Arab Emirates','Myanmar','Cambodia ','Tajikistan','Bahrain', 'Maldives', 'Lao', 'Oman', 
           'Other Asian Countries', 'Australia', 'New Zealand', 'Solomon Islands', 
           "Other European countries or territories",'Guinea-Bissau', 'Other Africa countries or territories',
           'Trinidad and Tobago',"Other South America countries or territories", 'Korea','Palestinian Territories', 
           'Timor-Leste',"Other Asia countries or territories","Other European countries or territories", 'Lesotho',
           "Other America countries or territories","Other Asia countries or territories", 'Central African Republic', 
           'Saint Lucia', 'Other Oceania countries or territories','Other European countries or territories', 
           'Other countries Africa', 'Kyrgyzstan','Other Asia countries or territories', 'Morocco', 'Bahamas', 
           'United Arab Emirates','Yemen', 'Iraq', 'Laos']

In [142]:
#Replace the Catalan manual
ine.Gender.replace("Dona", "Women", inplace= True)
ine.Gender.replace("Home", "Men", inplace= True)

In [153]:
ine['Continent'] = ine['Nationality'].replace(europa,'Europe')
ine['Continent'] = ine['Continent'].replace(latinamerica,'Latin-America')
ine['Continent'] = ine['Continent'].replace(northamerica,'North-America')
ine['Continent'] = ine['Continent'].replace(asia,'Asia')
ine['Continent'] = ine['Continent'].replace(oceania,'Ocenia')
ine['Continent'] = ine['Continent'].replace(africa,'Africa')

In [160]:
ine['Local'] = ine['Nationality'].replace(inmigran,'Foreigners')
ine['Local'] = ine['Local'].replace("Spain",'Spaniards')

In [161]:
ine

,Year,Code_Dist,Name_Dist,Code_NBHD,Name_NBHD,Gender,Nationality,Amount,Continent,Local
0,2019,1,Ciutat Vella,1,el Raval,Women,Spain,11666.00,Europe,Spaniards
1,2019,1,Ciutat Vella,2,el Barri Gòtic,Women,Spain,4214.00,Europe,Spaniards
2,2019,1,Ciutat Vella,3,la Barceloneta,Women,Spain,4801.00,Europe,Spaniards
3,2019,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Women,Spain,6570.00,Europe,Spaniards
4,2019,2,Eixample,5,el Fort Pienc,Women,Spain,13074.00,Europe,Spaniards
...,...,...,...,...,...,...,...,...,...,...
153441,2014,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Women,Other European countries or territories,0.00,Europe,Foreigners
153442,2014,10,Sant Martí,70,el Besòs i el Maresme,Women,Other European countries or territories,0.00,Europe,Foreigners
153443,2014,10,Sant Martí,71,Provençals del Poblenou,Women,Other European countries or territories,0.00,Europe,Foreigners
153444,2014,10,Sant Martí,72,Sant Martí de Provençals,Women,Other European countries or territories,0.00,Europe,Foreigners
153445,2014,10,Sant Martí,73,la Verneda i la Pau,Women,Other European countries or territories,0.00,Europe,Foreigners

In [162]:
ine.to_csv(r'../datasets/Nationality_Hist.csv', index = False)

# Average Houses for Disctrict

## Local Average Age

RESOURCE STRUCTURE FROM 2018

*01.Year* - Year of the data

*02.Code_Dist* - District code

*03.Name_Dist* - Name of the district

*04.Code_NBHD* - Neighborhood code

*05.Name_NBHD* - Name of the neighborhood

*06.Censal_Section* - Census section

*07.AVG_Age* - Average age of housing premises

In [77]:
age = TwoMake("../datasets/all/loc_hab_edat_mitjana_2019.csv", "../datasets/all/loc_hab_edat_mitjana_2018.csv")
age

,any,codi_districte,nom_districte,codi_barri,nom_barri,seccio_censal,edat_mitjana
0,2018,1,Ciutat Vella,1,el Raval,1,68.00
1,2018,1,Ciutat Vella,1,el Raval,2,106.30
2,2018,1,Ciutat Vella,1,el Raval,3,90.40
3,2018,1,Ciutat Vella,1,el Raval,4,87.00
4,2018,1,Ciutat Vella,1,el Raval,5,100.00
...,...,...,...,...,...,...,...
2131,2019,10,Sant Martí,73,la Verneda i la Pau,139,53.40
2132,2019,10,Sant Martí,73,la Verneda i la Pau,140,55.60
2133,2019,10,Sant Martí,73,la Verneda i la Pau,141,46.70
2134,2019,10,Sant Martí,73,la Verneda i la Pau,142,53.00
2135,2019,10,Sant Martí,73,la Verneda i la Pau,143,56.00

In [78]:
age.isnull().sum()

any               0
codi_districte    0
nom_districte     0
codi_barri        0
nom_barri         0
seccio_censal     0
edat_mitjana      0
dtype: int64

In [79]:
age.columns = ['Year', 'Code_Dist', 'Name_Dist', 'Code_NBHD', 'Name_NBHD', 'Censal_Section' ,'AVG_Age']

In [80]:
age

,Year,Code_Dist,Name_Dist,Code_NBHD,Name_NBHD,Censal_Section,AVG_Age
0,2018,1,Ciutat Vella,1,el Raval,1,68.00
1,2018,1,Ciutat Vella,1,el Raval,2,106.30
2,2018,1,Ciutat Vella,1,el Raval,3,90.40
3,2018,1,Ciutat Vella,1,el Raval,4,87.00
4,2018,1,Ciutat Vella,1,el Raval,5,100.00
...,...,...,...,...,...,...,...
2131,2019,10,Sant Martí,73,la Verneda i la Pau,139,53.40
2132,2019,10,Sant Martí,73,la Verneda i la Pau,140,55.60
2133,2019,10,Sant Martí,73,la Verneda i la Pau,141,46.70
2134,2019,10,Sant Martí,73,la Verneda i la Pau,142,53.00
2135,2019,10,Sant Martí,73,la Verneda i la Pau,143,56.00

## Local Average Area

RESOURCE STRUCTURE FROM 2018

*01.Year* - Year of the data

*02.Code_Dist* - District code

*03.Name_Dist* - Name of the district

*04.Code_NBHD* - Neighborhood code

*05.Name_NBHD* - Name of the neighborhood

*06.Censal_Section* - Census section

*07.AVG_Area* - Average area (m2) of residential premises

In [81]:
supmid = TwoMake("../datasets/all/loc_hab_sup_mitjana_2019.csv", "../datasets/all/loc_hab_sup_mitjana_2018.csv")
supmid

,any,codi_districte,nom_districte,codi_barri,nom_barri,seccio_censal,sup_mitjana_m2
0,2018,1,Ciutat Vella,1,el Raval,1,76.80
1,2018,1,Ciutat Vella,1,el Raval,2,71.60
2,2018,1,Ciutat Vella,1,el Raval,3,59.00
3,2018,1,Ciutat Vella,1,el Raval,4,65.30
4,2018,1,Ciutat Vella,1,el Raval,5,77.90
...,...,...,...,...,...,...,...
2131,2019,10,Sant Martí,73,la Verneda i la Pau,139,59.90
2132,2019,10,Sant Martí,73,la Verneda i la Pau,140,75.50
2133,2019,10,Sant Martí,73,la Verneda i la Pau,141,75.50
2134,2019,10,Sant Martí,73,la Verneda i la Pau,142,71.00
2135,2019,10,Sant Martí,73,la Verneda i la Pau,143,66.30

In [82]:
supmid.isnull().sum()

any               0
codi_districte    0
nom_districte     0
codi_barri        0
nom_barri         0
seccio_censal     0
sup_mitjana_m2    0
dtype: int64

In [83]:
supmid.columns = ['Year', 'Code_Dist', 'Name_Dist', 'Code_NBHD', 'Name_NBHD', 'Censal_Section' , 'AVG_Area']

In [84]:
supmid

,Year,Code_Dist,Name_Dist,Code_NBHD,Name_NBHD,Censal_Section,AVG_Area
0,2018,1,Ciutat Vella,1,el Raval,1,76.80
1,2018,1,Ciutat Vella,1,el Raval,2,71.60
2,2018,1,Ciutat Vella,1,el Raval,3,59.00
3,2018,1,Ciutat Vella,1,el Raval,4,65.30
4,2018,1,Ciutat Vella,1,el Raval,5,77.90
...,...,...,...,...,...,...,...
2131,2019,10,Sant Martí,73,la Verneda i la Pau,139,59.90
2132,2019,10,Sant Martí,73,la Verneda i la Pau,140,75.50
2133,2019,10,Sant Martí,73,la Verneda i la Pau,141,75.50
2134,2019,10,Sant Martí,73,la Verneda i la Pau,142,71.00
2135,2019,10,Sant Martí,73,la Verneda i la Pau,143,66.30

## Merge

RESOURCE STRUCTURE FROM 2018

*01.Year* - Year of the data

*02.Code_Dist* - District code

*03.Name_Dist* - Name of the district

*04.Code_NBHD* - Neighborhood code

*05.Name_NBHD* - Name of the neighborhood

*06.Censal_Section* - Census section

*07.AVG_Age* - Average age of housing premises

*08.AVG_Area* - Average area (m2) of residential premises

In [85]:
age["KEY"] =  age["Year"].astype(str) +  "-" + age["Censal_Section"].astype(str) + "-" + age["Code_NBHD"].astype(str)
supmid["KEY"] = supmid["Year"].astype(str) + "-" + supmid["Censal_Section"].astype(str) +  "-" + supmid["Code_NBHD"].astype(str)

In [86]:
age.KEY.value_counts()

2019-18-1     1
2018-82-27    1
2018-5-44     1
2018-37-31    1
2019-36-6     1
             ..
2019-63-61    1
2018-78-32    1
2019-83-70    1
2018-90-8     1
2019-8-11     1
Name: KEY, Length: 2136, dtype: int64

In [87]:
data = pd.merge(age,supmid, left_on="KEY", right_on="KEY", how='left')
data

,Year_x,Code_Dist_x,Name_Dist_x,Code_NBHD_x,Name_NBHD_x,Censal_Section_x,AVG_Age,KEY,Year_y,Code_Dist_y,Name_Dist_y,Code_NBHD_y,Name_NBHD_y,Censal_Section_y,AVG_Area
0,2018,1,Ciutat Vella,1,el Raval,1,68.00,2018-1-1,2018,1,Ciutat Vella,1,el Raval,1,76.80
1,2018,1,Ciutat Vella,1,el Raval,2,106.30,2018-2-1,2018,1,Ciutat Vella,1,el Raval,2,71.60
2,2018,1,Ciutat Vella,1,el Raval,3,90.40,2018-3-1,2018,1,Ciutat Vella,1,el Raval,3,59.00
3,2018,1,Ciutat Vella,1,el Raval,4,87.00,2018-4-1,2018,1,Ciutat Vella,1,el Raval,4,65.30
4,2018,1,Ciutat Vella,1,el Raval,5,100.00,2018-5-1,2018,1,Ciutat Vella,1,el Raval,5,77.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2131,2019,10,Sant Martí,73,la Verneda i la Pau,139,53.40,2019-139-73,2019,10,Sant Martí,73,la Verneda i la Pau,139,59.90
2132,2019,10,Sant Martí,73,la Verneda i la Pau,140,55.60,2019-140-73,2019,10,Sant Martí,73,la Verneda i la Pau,140,75.50
2133,2019,10,Sant Martí,73,la Verneda i la Pau,141,46.70,2019-141-73,2019,10,Sant Martí,73,la Verneda i la Pau,141,75.50
2134,2019,10,Sant Martí,73,la Verneda i la Pau,142,53.00,2019-142-73,2019,10,Sant Martí,73,la Verneda i la Pau,142,71.00
2135,2019,10,Sant Martí,73,la Verneda i la Pau,143,56.00,2019-143-73,2019,10,Sant Martí,73,la Verneda i la Pau,143,66.30

In [88]:
data.columns

Index(['Year_x',
       'Code_Dist_x',
       'Name_Dist_x',
       'Code_NBHD_x',
       'Name_NBHD_x',
       'Censal_Section_x',
       'AVG_Age',
       'KEY',
       'Year_y',
       'Code_Dist_y',
       'Name_Dist_y',
       'Code_NBHD_y',
       'Name_NBHD_y',
       'Censal_Section_y',
       'AVG_Area'],
      dtype='object')

In [89]:
data.drop(columns=['KEY', 'Year_y', 'Code_Dist_y', 'Name_Dist_y', 'Code_NBHD_y', 'Name_NBHD_y', 'Censal_Section_y'], inplace=True)

In [90]:
data.columns = ['Year', 'Code_Dist', 'Name_Dist', 'Code_NBHD','Name_NBHD', 'Censal_Section', 'AVG_Age', 'AVG_Area']

In [91]:
data.to_csv(r'../datasets/HousesAVG_Age_Area.csv', index = False)

# Area of the Houses

RESOURCE STRUCTURE FROM 2018

*01.Year* - Year of the data

*02.Code_Dist* - District code

*03.Name_Dist* - Name of the district

*04.Code_NBHD* - Neighborhood code

*05.Name_NBHD* - Name of the neighborhood

*06.Censal_Section* - Census section

*07.Description* - Description of the type of surface

*08.Amount* - Number of residential premises

In [92]:
sup = TwoMake("../datasets/all/loc_hab_sup_2018.csv", "../datasets/all/loc_hab_sup_2019.csv")
sup

,any,codi_districte,nom_districte,codi_barri,nom_barri,seccio_censal,desc_sup,nombre
0,2019,1,Ciutat Vella,1,el Raval,1,Fins a 30 m2,111
1,2019,1,Ciutat Vella,1,el Raval,1,31- 60 m2,324
2,2019,1,Ciutat Vella,1,el Raval,1,61- 90 m2,222
3,2019,1,Ciutat Vella,1,el Raval,1,91- 120 m2,105
4,2019,1,Ciutat Vella,1,el Raval,1,121- 150 m2,27
...,...,...,...,...,...,...,...,...
12915,2018,10,Sant Martí,73,la Verneda i la Pau,142,31- 60 m2,326
12916,2018,10,Sant Martí,73,la Verneda i la Pau,142,61- 90 m2,285
12917,2018,10,Sant Martí,73,la Verneda i la Pau,142,91- 120 m2,60
12918,2018,10,Sant Martí,73,la Verneda i la Pau,143,31- 60 m2,475
12919,2018,10,Sant Martí,73,la Verneda i la Pau,143,61- 90 m2,570

In [93]:
sup.isnull().sum()

any               0
codi_districte    0
nom_districte     0
codi_barri        0
nom_barri         0
seccio_censal     0
desc_sup          0
nombre            0
dtype: int64

In [94]:
sup.columns = ['Year', 'Code_Dist', 'Name_Dist', 'Code_NBHD', 'Name_NBHD', 'Censal_Section' , 'Description','Amount']

In [95]:
sup

,Year,Code_Dist,Name_Dist,Code_NBHD,Name_NBHD,Censal_Section,Description,Amount
0,2019,1,Ciutat Vella,1,el Raval,1,Fins a 30 m2,111
1,2019,1,Ciutat Vella,1,el Raval,1,31- 60 m2,324
2,2019,1,Ciutat Vella,1,el Raval,1,61- 90 m2,222
3,2019,1,Ciutat Vella,1,el Raval,1,91- 120 m2,105
4,2019,1,Ciutat Vella,1,el Raval,1,121- 150 m2,27
...,...,...,...,...,...,...,...,...
12915,2018,10,Sant Martí,73,la Verneda i la Pau,142,31- 60 m2,326
12916,2018,10,Sant Martí,73,la Verneda i la Pau,142,61- 90 m2,285
12917,2018,10,Sant Martí,73,la Verneda i la Pau,142,91- 120 m2,60
12918,2018,10,Sant Martí,73,la Verneda i la Pau,143,31- 60 m2,475
12919,2018,10,Sant Martí,73,la Verneda i la Pau,143,61- 90 m2,570

In [96]:
sup.to_csv(r'../datasets/Houses_Area.csv', index = False)

# Local by Use

RESOURCE STRUCTURE FROM 2018

*01.Year* - Year of the data

*02.Code_Dist* - District code

*03.Name_Dist* - Name of the district

*04.Code_NBHD* - Neighborhood code

*05.Name_NBHD* - Name of the neighborhood

*06.Censal_Section* - Census section

*07.Use* - Description of the main destination use

*08.Description* - Number, Area m2 and Value € of the cadastral premises

*09.Amount* - Number of premises, area and value per destination use

In [97]:
local = TwoMake("../datasets/all/locals_us_desti_2018.csv", "../datasets/all/locals_us_desti_2019.csv")
local

,any,codi_districte,nom_districte,codi_barri,nom_barri,seccio_censal,desc_us_desti_principal,concepte,nombre
0,2019,1,Ciutat Vella,1,el Raval,1,Habitatge,Nombre,819.00
1,2019,1,Ciutat Vella,1,el Raval,1,Aparcaments,Nombre,98.00
2,2019,1,Ciutat Vella,1,el Raval,1,Comerç,Nombre,50.00
3,2019,1,Ciutat Vella,1,el Raval,1,Magatzem,Nombre,30.00
4,2019,1,Ciutat Vella,1,el Raval,1,Oficina,Nombre,157.00
...,...,...,...,...,...,...,...,...,...
52714,2018,10,Sant Martí,73,la Verneda i la Pau,142,Religiós,Valor_€,822218.98
52715,2018,10,Sant Martí,73,la Verneda i la Pau,143,Habitatge,Valor_€,37618731925.00
52716,2018,10,Sant Martí,73,la Verneda i la Pau,143,Comerç,Valor_€,601580565.00
52717,2018,10,Sant Martí,73,la Verneda i la Pau,143,Hotel,Valor_€,55101.37
52718,2018,10,Sant Martí,73,la Verneda i la Pau,143,Ensenyament,Valor_€,2120855.00

In [98]:
local.isnull().sum()

any                        0
codi_districte             0
nom_districte              0
codi_barri                 0
nom_barri                  0
seccio_censal              0
desc_us_desti_principal    0
concepte                   0
nombre                     0
dtype: int64

In [99]:
local.columns = ['Year', 'Code_Dist', 'Name_Dist', 'Code_NBHD', 'Name_NBHD', 'Censal_Section' ,'Use', "Description" , 'Amount']

In [100]:
#Replace the Catalan manual
local.Description.replace("Superfície_m2", "Superficie_m2", inplace= True)

In [101]:
local

,Year,Code_Dist,Name_Dist,Code_NBHD,Name_NBHD,Censal_Section,Use,Description,Amount
0,2019,1,Ciutat Vella,1,el Raval,1,Habitatge,Nombre,819.00
1,2019,1,Ciutat Vella,1,el Raval,1,Aparcaments,Nombre,98.00
2,2019,1,Ciutat Vella,1,el Raval,1,Comerç,Nombre,50.00
3,2019,1,Ciutat Vella,1,el Raval,1,Magatzem,Nombre,30.00
4,2019,1,Ciutat Vella,1,el Raval,1,Oficina,Nombre,157.00
...,...,...,...,...,...,...,...,...,...
52714,2018,10,Sant Martí,73,la Verneda i la Pau,142,Religiós,Valor_€,822218.98
52715,2018,10,Sant Martí,73,la Verneda i la Pau,143,Habitatge,Valor_€,37618731925.00
52716,2018,10,Sant Martí,73,la Verneda i la Pau,143,Comerç,Valor_€,601580565.00
52717,2018,10,Sant Martí,73,la Verneda i la Pau,143,Hotel,Valor_€,55101.37
52718,2018,10,Sant Martí,73,la Verneda i la Pau,143,Ensenyament,Valor_€,2120855.00

In [102]:
local.Use.unique()

array(['Habitatge', 'Aparcaments', 'Comerç', 'Magatzem', 'Oficina',
       'Hotel', 'Ensenyament', 'Sanitat', 'Religiós', 'Adm.Pública',
       'Espectacles', 'Esportiu', 'Altres', 'Indústria',
       'Sòl sense edificar', 'no consta', 'No consta'], dtype=object)

In [103]:
nat_cat = local.Use.unique()
nat_eng = ['Housing', 'Parking', 'Commerce', 'Warehouse', 'Office','Hotel', 'Education', 'Health', 'Religious', 
           'Public Administration','Shows', 'Sports', 'Others', 'Industry','Unbuilt land', 'Not listed', 'Not listed']
zip_nat = zip(nat_cat, nat_eng)
dict_nat = dict(zip_nat)
local.Use.replace(dict_nat, inplace=True)

In [104]:
local["KEY"] =  local["Year"].astype(str) +  "-" + local["Code_Dist"].astype(str) + "-" + local["Code_NBHD"].astype(str) + "-" + local["Censal_Section"].astype(str)+ "-" + local["Use"].astype(str)

In [105]:
nom = local.loc[local.Description == "Nombre", :].reset_index(drop=True)
nom.columns = ['Year','Code_Dist','Name_Dist','Code_NBHD', 'Name_NBHD','Censal_Section' ,'Use', 'D','Amount', "Key"]
sup = local.loc[local.Description == "Superficie_m2", :].reset_index(drop=True)
sup.columns = ['Year','Code_Dist','Name_Dist','Code_NBHD', 'Name_NBHD','Censal_Section' ,'Use', 'D','Surface_M2', "Key"]
val = local.loc[local.Description == "Valor_€", :].reset_index(drop=True)
val.columns = ['Year', 'Code_Dist','Name_Dist','Code_NBHD', 'Name_NBHD','Censal_Section' ,'Use', 'D','Euros', "Key"]

In [106]:
nom.drop(columns = 'D', inplace = True)

In [107]:
sup = sup.iloc[:,-2:]
val = val.iloc[:,-2:]

In [108]:
data = pd.merge(nom,sup, left_on="Key", right_on="Key", how='left')
data

,Year,Code_Dist,Name_Dist,Code_NBHD,Name_NBHD,Censal_Section,Use,Amount,Key,Surface_M2
0,2019,1,Ciutat Vella,1,el Raval,1,Housing,819.00,2019-1-1-1-Housing,62887.00
1,2019,1,Ciutat Vella,1,el Raval,1,Parking,98.00,2019-1-1-1-Parking,3027.00
2,2019,1,Ciutat Vella,1,el Raval,1,Commerce,50.00,2019-1-1-1-Commerce,5905.00
3,2019,1,Ciutat Vella,1,el Raval,1,Warehouse,30.00,2019-1-1-1-Warehouse,14609.00
4,2019,1,Ciutat Vella,1,el Raval,1,Office,157.00,2019-1-1-1-Office,14433.00
...,...,...,...,...,...,...,...,...,...,...
17568,2018,10,Sant Martí,73,la Verneda i la Pau,142,Religious,3.00,2018-10-73-142-Religious,1341.00
17569,2018,10,Sant Martí,73,la Verneda i la Pau,143,Housing,1045.00,2018-10-73-143-Housing,69280.00
17570,2018,10,Sant Martí,73,la Verneda i la Pau,143,Commerce,27.00,2018-10-73-143-Commerce,1269.00
17571,2018,10,Sant Martí,73,la Verneda i la Pau,143,Hotel,1.00,2018-10-73-143-Hotel,60.00
17572,2018,10,Sant Martí,73,la Verneda i la Pau,143,Education,11.00,2018-10-73-143-Education,4516.00

In [109]:
data = pd.merge(data,val, left_on="Key", right_on="Key", how='left')
data

,Year,Code_Dist,Name_Dist,Code_NBHD,Name_NBHD,Censal_Section,Use,Amount,Key,Surface_M2,Euros
0,2019,1,Ciutat Vella,1,el Raval,1,Housing,819.00,2019-1-1-1-Housing,62887.00,67059674.43
1,2019,1,Ciutat Vella,1,el Raval,1,Parking,98.00,2019-1-1-1-Parking,3027.00,2085314.09
2,2019,1,Ciutat Vella,1,el Raval,1,Commerce,50.00,2019-1-1-1-Commerce,5905.00,11629146.85
3,2019,1,Ciutat Vella,1,el Raval,1,Warehouse,30.00,2019-1-1-1-Warehouse,14609.00,8153377.19
4,2019,1,Ciutat Vella,1,el Raval,1,Office,157.00,2019-1-1-1-Office,14433.00,19477571.05
...,...,...,...,...,...,...,...,...,...,...,...
17568,2018,10,Sant Martí,73,la Verneda i la Pau,142,Religious,3.00,2018-10-73-142-Religious,1341.00,822218.98
17569,2018,10,Sant Martí,73,la Verneda i la Pau,143,Housing,1045.00,2018-10-73-143-Housing,69280.00,37618731925.00
17570,2018,10,Sant Martí,73,la Verneda i la Pau,143,Commerce,27.00,2018-10-73-143-Commerce,1269.00,601580565.00
17571,2018,10,Sant Martí,73,la Verneda i la Pau,143,Hotel,1.00,2018-10-73-143-Hotel,60.00,55101.37
17572,2018,10,Sant Martí,73,la Verneda i la Pau,143,Education,11.00,2018-10-73-143-Education,4516.00,2120855.00

In [110]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17573 entries, 0 to 17572
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Year            17573 non-null  int64
 1   Code_Dist       17573 non-null  object
 2   Name_Dist       17573 non-null  object
 3   Code_NBHD       17573 non-null  object
 4   Name_NBHD       17573 non-null  object
 5   Censal_Section  17573 non-null  object
 6   Use             17573 non-null  object
 7   Amount          17573 non-null  float64
 8   Key             17573 non-null  object
 9   Surface_M2      17573 non-null  float64
 10  Euros           17573 non-null  float64
dtypes: float64(3), int64(1), object(7)
memory usage: 1.6+ MB

In [111]:
data.to_csv(r'../datasets/Type_Locals.csv', index = False)

# Ages and Nationality

*01.Year* - Year of the data

*02.Code_Dist* - District code

*03.Name_Dist* - Name of the district

*04.Code_NBHD* - Neighborhood code

*05.Name_NBHD* - Name of the neighborhood

*06.Gender* - Gender of people (Binary category)

*07.Nationality* - Nationality of people

*08.Age* - Age of people (every 5 years)

*09.Amount* - Number of people

In [112]:
dic = ["../datasets/all/padro_edat_quinquennal_per_nacionalitat_i_sexe_2018.csv",
       "../datasets/all/padro_edat_quinquennal_per_nacionalitat_i_sexe_2019.csv"]

In [113]:
age_nat = HistMake("../datasets/all/padro_edat_quinquennal_per_nacionalitat_i_sexe_2017.csv", dic) 
age_nat

,any,codi_districte,nom_districte,codi_barri,nom_barri,sexe,nacionalitat,edat_quinquennal,nombre
0,2019,1,Ciutat Vella,1,el Raval,Home,Espanyola,0-4 anys,438
1,2019,1,Ciutat Vella,2,el Barri Gòtic,Home,Espanyola,0-4 anys,126
2,2019,1,Ciutat Vella,3,la Barceloneta,Home,Espanyola,0-4 anys,123
3,2019,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Home,Espanyola,0-4 anys,228
4,2019,2,Eixample,5,el Fort Pienc,Home,Espanyola,0-4 anys,464
...,...,...,...,...,...,...,...,...,...
18391,2017,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Dona,Estrangera,100 anys i més,0
18392,2017,10,Sant Martí,70,el Besòs i el Maresme,Dona,Estrangera,100 anys i més,0
18393,2017,10,Sant Martí,71,Provençals del Poblenou,Dona,Estrangera,100 anys i més,0
18394,2017,10,Sant Martí,72,Sant Martí de Provençals,Dona,Estrangera,100 anys i més,0
18395,2017,10,Sant Martí,73,la Verneda i la Pau,Dona,Estrangera,100 anys i més,0

In [114]:
age_nat.columns = ['Year', 'Code_Dist', 'Name_Dist', 'Code_NBHD',
                      'Name_NBHD', 'Gender', 'Nationality', 'Age', 'Amount']

In [115]:
age_nat

,Year,Code_Dist,Name_Dist,Code_NBHD,Name_NBHD,Gender,Nationality,Age,Amount
0,2019,1,Ciutat Vella,1,el Raval,Home,Espanyola,0-4 anys,438
1,2019,1,Ciutat Vella,2,el Barri Gòtic,Home,Espanyola,0-4 anys,126
2,2019,1,Ciutat Vella,3,la Barceloneta,Home,Espanyola,0-4 anys,123
3,2019,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Home,Espanyola,0-4 anys,228
4,2019,2,Eixample,5,el Fort Pienc,Home,Espanyola,0-4 anys,464
...,...,...,...,...,...,...,...,...,...
18391,2017,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Dona,Estrangera,100 anys i més,0
18392,2017,10,Sant Martí,70,el Besòs i el Maresme,Dona,Estrangera,100 anys i més,0
18393,2017,10,Sant Martí,71,Provençals del Poblenou,Dona,Estrangera,100 anys i més,0
18394,2017,10,Sant Martí,72,Sant Martí de Provençals,Dona,Estrangera,100 anys i més,0
18395,2017,10,Sant Martí,73,la Verneda i la Pau,Dona,Estrangera,100 anys i més,0

In [116]:
#Replace the Catalan manual
age_nat.Age.replace("100 anys i més", "100 and more", inplace= True)
age_nat.Age = age_nat.Age.str.replace("anys", "years")

In [117]:
#Replace the Catalan manual
age_nat.Nationality.replace("Estrangera", "Foreigners", inplace= True)
age_nat.Nationality.replace("Espanyola", "Spaniards", inplace= True)

In [118]:
#Replace the Catalan manual
age_nat.Gender.replace("Dona", "Women", inplace= True)
age_nat.Gender.replace("Home", "Men", inplace= True)

In [119]:
age_nat.to_csv(r'../datasets/People_Age.csv', index = False)