In [2]:
import pandas as pd
import numpy as np

In [3]:
import requests
import re
import seaborn as sns

In [102]:
pd.set_option('display.max_columns', 20)
pd.set_option('display.width', 20)
pd.set_option('display.float_format', '{:.2f}'.format)

In [5]:
# I define the inicial dataset in the 'inic' variable (should be a string that contain the path of the file) 
# and in the 'dest' variable I do a list with the path of all the files I want concat

def HistMake (inic, dest):
    datatot = pd.read_csv(inic)
    #I make a variable that would be mi fist dataframe
    for i in dest: 
        data0 = pd.read_csv(i)
        datatot = pd.concat([data0,datatot], axis = 0).reset_index(drop=True)
    return datatot
        
def TwoMake (inic, dest):
    datatot = pd.read_csv(inic)
    datatot.columns= datatot.columns.str.lower()
    #I make a variable that would be mi fist dataframe
    data0 = pd.read_csv(dest)
    data0.columns= data0.columns.str.lower()
    datatot = pd.concat([data0,datatot], axis = 0).reset_index(drop=True)
    return datatot

# Houses Price Historical

In [6]:
price = ["../datasets/all/comp_vend_preu_trim_2014.csv", "../datasets/all/comp_vend_preu_trim_2015.csv",
       "../datasets/all/comp_vend_preu_trim_2016.csv", "../datasets/all/comp_vend_preu_trim_2017.csv", "../datasets/all/comp_vend_preu_trim_2018.csv",
       "../datasets/all/comp_vend_preu_trim_2019.csv"]

In [7]:
price_hist = HistMake("../datasets/all/comp_vend_preu_2013.csv", price) 
price_hist

,Any,Trimestre,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Preu_mitja_habitatge,Valor
0,2019,1.0,1,Ciutat Vella,1,el Raval,Total. Milers d'euros,236.7
1,2019,1.0,1,Ciutat Vella,2,el Barri Gòtic,Total. Milers d'euros,411.7
2,2019,1.0,1,Ciutat Vella,3,la Barceloneta,Total. Milers d'euros,215.6
3,2019,1.0,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Total. Milers d'euros,306.0
4,2019,1.0,2,Eixample,5,el Fort Pienc,Total. Milers d'euros,582.2
...,...,...,...,...,...,...,...,...
10945,2013,NaN,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Usat. Euros/m2 construït,5138.1
10946,2013,NaN,10,Sant Martí,70,el Besòs i el Maresme,Usat. Euros/m2 construït,1811.7
10947,2013,NaN,10,Sant Martí,71,Provençals del Poblenou,Usat. Euros/m2 construït,3526.9
10948,2013,NaN,10,Sant Martí,72,Sant Martí de Provençals,Usat. Euros/m2 construït,1780.8
10949,2013,NaN,10,Sant Martí,73,la Verneda i la Pau,Usat. Euros/m2 construït,1471.3

In [35]:
price_hist.isnull().sum()

Year                0
Trimester         438
Code_District       0
Name_Dist           0
Code_NBHD           0
Name_NBHD           0
Desc_Price          0
Price            2953
dtype: int64

In [70]:
price_hist.columns = ['Year', 'Trimester', 'Code_District', 'Name_Dist', 'Code_NBHD', 'Name_NBHD', 'Description', 'Price']
price_hist

,Year,Trimester,Code_District,Name_Dist,Code_NBHD,Name_NBHD,Description,Price
0,2019,1.0,1,Ciutat Vella,1,el Raval,Total. Milers d'euros,236.7
1,2019,1.0,1,Ciutat Vella,2,el Barri Gòtic,Total. Milers d'euros,411.7
2,2019,1.0,1,Ciutat Vella,3,la Barceloneta,Total. Milers d'euros,215.6
3,2019,1.0,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Total. Milers d'euros,306.0
4,2019,1.0,2,Eixample,5,el Fort Pienc,Total. Milers d'euros,582.2
...,...,...,...,...,...,...,...,...
10945,2013,NaN,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Usat. Euros/m2 construït,5138.1
10946,2013,NaN,10,Sant Martí,70,el Besòs i el Maresme,Usat. Euros/m2 construït,1811.7
10947,2013,NaN,10,Sant Martí,71,Provençals del Poblenou,Usat. Euros/m2 construït,3526.9
10948,2013,NaN,10,Sant Martí,72,Sant Martí de Provençals,Usat. Euros/m2 construït,1780.8
10949,2013,NaN,10,Sant Martí,73,la Verneda i la Pau,Usat. Euros/m2 construït,1471.3

# Density Historical

In [9]:
density = ["../datasets/all/densitat_2014.csv", "../datasets/all/densitat_2015.csv", "../datasets/all/densitat_2016.csv", 
           "../datasets/all/densitat_2017.csv", "../datasets/all/densitat_2018.csv", "../datasets/all/densitat_2019.csv"]

In [10]:
density_hist = HistMake("../datasets/all/densitat_2013.csv", density) 
density_hist

,Any,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Població,Superfície (ha),Superfície Residencial (ha),Densitat (hab/ha),Densitat neta (hab/ha)
0,2019,1,Ciutat Vella,1,el Raval,47353,110.0,49.6,430,955
1,2019,1,Ciutat Vella,2,el Barri Gòtic,18629,81.6,34.1,228,546
2,2019,1,Ciutat Vella,3,la Barceloneta,14857,109.5,13.5,136,1097
3,2019,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",22590,111.0,32.4,204,697
4,2019,2,Eixample,5,el Fort Pienc,32349,92.9,33.6,348,962
...,...,...,...,...,...,...,...,...,...,...
506,2013,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,12894,123.7,NaN,104,560
507,2013,10,Sant Martí,70,el Besòs i el Maresme,23118,127.4,NaN,181,878
508,2013,10,Sant Martí,71,Provençals del Poblenou,20052,110.5,NaN,181,1487
509,2013,10,Sant Martí,72,Sant Martí de Provençals,25994,74.5,NaN,349,1144
510,2013,10,Sant Martí,73,la Verneda i la Pau,29154,112.3,NaN,260,899

In [11]:
density_hist.columns = ['Year', 'Code_District', 'Name_Dist', 'Code_NBHD', 'Name_NBHD', 'Population', 
                        'Total_Area(ha)', 'Housing_Area(ha)', 'Density(hab/ha)', 'Real_Density(hab/ha)']

In [34]:
density_hist.isnull().sum()

Year                      0
Code_District             0
Name_Dist                 0
Code_NBHD                 0
Name_NBHD                 0
Population                0
Total_Area(ha)            0
Housing_Area(ha)        292
Density(hab/ha)           0
Real_Density(hab/ha)      0
dtype: int64

In [12]:
density_hist

,Year,Code_District,Name_Dist,Code_NBHD,Name_NBHD,Population,Total_Area(ha),Housing_Area(ha),Density(hab/ha),Real_Density(hab/ha)
0,2019,1,Ciutat Vella,1,el Raval,47353,110.0,49.6,430,955
1,2019,1,Ciutat Vella,2,el Barri Gòtic,18629,81.6,34.1,228,546
2,2019,1,Ciutat Vella,3,la Barceloneta,14857,109.5,13.5,136,1097
3,2019,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",22590,111.0,32.4,204,697
4,2019,2,Eixample,5,el Fort Pienc,32349,92.9,33.6,348,962
...,...,...,...,...,...,...,...,...,...,...
506,2013,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,12894,123.7,NaN,104,560
507,2013,10,Sant Martí,70,el Besòs i el Maresme,23118,127.4,NaN,181,878
508,2013,10,Sant Martí,71,Provençals del Poblenou,20052,110.5,NaN,181,1487
509,2013,10,Sant Martí,72,Sant Martí de Provençals,25994,74.5,NaN,349,1144
510,2013,10,Sant Martí,73,la Verneda i la Pau,29154,112.3,NaN,260,899

# Composition of the Houses Ages

In [39]:
aa = TwoMake("../datasets/all/domicilis_edat_mitjana_nacionalitat_2019.csv", "../datasets/all/domicilis_edat_mitjana_nacionalitat_2018.csv")
aa

,any,codi_districte,nom_districte,codi_barri,nom_barri,nacionalitat,edat_mitjana,nombre
0,2018,1,Ciutat Vella,1,el Raval,Tots espanyols,49.900000,NaN
1,2018,1,Ciutat Vella,2,el Barri Gòtic,Tots espanyols,50.800000,NaN
2,2018,1,Ciutat Vella,3,la Barceloneta,Tots espanyols,50.100000,NaN
3,2018,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Tots espanyols,49.400000,NaN
4,2018,2,Eixample,5,el Fort Pienc,Tots espanyols,49.000000,NaN
...,...,...,...,...,...,...,...,...
433,2019,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,NaN,34.024517,Domicilis mixtos
434,2019,10,Sant Martí,70,el Besòs i el Maresme,NaN,32.744687,Domicilis mixtos
435,2019,10,Sant Martí,71,Provençals del Poblenou,NaN,34.895161,Domicilis mixtos
436,2019,10,Sant Martí,72,Sant Martí de Provençals,NaN,36.757025,Domicilis mixtos
437,2019,10,Sant Martí,73,la Verneda i la Pau,NaN,35.216807,Domicilis mixtos

In [40]:
aa.loc[aa['nombre'].notnull(), "nacionalitat"] = aa["nombre"]

In [41]:
aa.nacionalitat.value_counts()

Tots estrangers     146
Tots espanyols      146
Domicilis mixtos    146
Name: nacionalitat, dtype: int64

In [42]:
aa.isnull().sum()

any                 0
codi_districte      0
nom_districte       0
codi_barri          0
nom_barri           0
nacionalitat        0
edat_mitjana        0
nombre            219
dtype: int64

In [45]:
aa.columns = ['Year', 'Code_District', 'Name_Dist', 'Code_NBHD', 'Name_NBHD', 'Nationality', 'Avererage_Age', 'Name']

In [46]:
comp_hist = aa.iloc[:,0:-1]

In [47]:
comp_hist

,Year,Code_District,Name_Dist,Code_NBHD,Name_NBHD,Nationality,Avererage_Age
0,2018,1,Ciutat Vella,1,el Raval,Tots espanyols,49.900000
1,2018,1,Ciutat Vella,2,el Barri Gòtic,Tots espanyols,50.800000
2,2018,1,Ciutat Vella,3,la Barceloneta,Tots espanyols,50.100000
3,2018,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Tots espanyols,49.400000
4,2018,2,Eixample,5,el Fort Pienc,Tots espanyols,49.000000
...,...,...,...,...,...,...,...
433,2019,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Domicilis mixtos,34.024517
434,2019,10,Sant Martí,70,el Besòs i el Maresme,Domicilis mixtos,32.744687
435,2019,10,Sant Martí,71,Provençals del Poblenou,Domicilis mixtos,34.895161
436,2019,10,Sant Martí,72,Sant Martí de Provençals,Domicilis mixtos,36.757025
437,2019,10,Sant Martí,73,la Verneda i la Pau,Domicilis mixtos,35.216807

# Composition of the Houses Nationality

In [48]:
comp = TwoMake("../datasets/all/domicilis_nacionalitat_2018.csv", "../datasets/all/domicilis_nacionalitat_2019.csv")
comp

,any,codi_districte,nom_districte,codi_barri,nom_barri,nacionalitat,nombre
0,2019,1,Ciutat Vella,1,el Raval,Tots espanyols,8025
1,2019,1,Ciutat Vella,2,el Barri Gòtic,Tots espanyols,3105
2,2019,1,Ciutat Vella,3,la Barceloneta,Tots espanyols,3896
3,2019,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Tots espanyols,5305
4,2019,2,Eixample,5,el Fort Pienc,Tots espanyols,9533
...,...,...,...,...,...,...,...
433,2018,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Domicilis mixtos,512
434,2018,10,Sant Martí,70,el Besòs i el Maresme,Domicilis mixtos,911
435,2018,10,Sant Martí,71,Provençals del Poblenou,Domicilis mixtos,750
436,2018,10,Sant Martí,72,Sant Martí de Provençals,Domicilis mixtos,801
437,2018,10,Sant Martí,73,la Verneda i la Pau,Domicilis mixtos,838

In [54]:
comp.isnull().sum()

Year             0
Code_District    0
Name_Dist        0
Code_NBHD        0
Name_NBHD        0
Nationality      0
People           0
dtype: int64

In [53]:
comp.columns = ['Year', 'Code_District', 'Name_Dist', 'Code_NBHD', 'Name_NBHD', 'Nationality', 'People']

# Nationality

In [55]:
ine = TwoMake("../datasets/all/ine_nacionalitat_per_sexe_2018.csv", "../datasets/all/ine_nacionalitat_per_sexe_2019.csv")
ine

,any,codi_districte,nom_districte,codi_barri,nom_barri,sexe,nacionalitat,nombre
0,2019,1,Ciutat Vella,1,el Raval,Dona,Espanya,11666
1,2019,1,Ciutat Vella,2,el Barri Gòtic,Dona,Espanya,4214
2,2019,1,Ciutat Vella,3,la Barceloneta,Dona,Espanya,4801
3,2019,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Dona,Espanya,6570
4,2019,2,Eixample,5,el Fort Pienc,Dona,Espanya,13074
...,...,...,...,...,...,...,...,...
52409,2018,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Dona,Apàtrides,0
52410,2018,10,Sant Martí,70,el Besòs i el Maresme,Dona,Apàtrides,1
52411,2018,10,Sant Martí,71,Provençals del Poblenou,Dona,Apàtrides,0
52412,2018,10,Sant Martí,72,Sant Martí de Provençals,Dona,Apàtrides,0
52413,2018,10,Sant Martí,73,la Verneda i la Pau,Dona,Apàtrides,1

In [56]:
ine.isnull().sum()

any               0
codi_districte    0
nom_districte     0
codi_barri        0
nom_barri         0
sexe              0
nacionalitat      0
nombre            0
dtype: int64

In [59]:
ine.columns = ['Year', 'Code_District', 'Name_Dist', 'Code_NBHD', 'Name_NBHD', 'Gender' ,'Nationality', 'People']

In [60]:
ine

,Year,Code_District,Name_Dist,Code_NBHD,Name_NBHD,Gender,Nationality,People
0,2019,1,Ciutat Vella,1,el Raval,Dona,Espanya,11666
1,2019,1,Ciutat Vella,2,el Barri Gòtic,Dona,Espanya,4214
2,2019,1,Ciutat Vella,3,la Barceloneta,Dona,Espanya,4801
3,2019,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Dona,Espanya,6570
4,2019,2,Eixample,5,el Fort Pienc,Dona,Espanya,13074
...,...,...,...,...,...,...,...,...
52409,2018,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Dona,Apàtrides,0
52410,2018,10,Sant Martí,70,el Besòs i el Maresme,Dona,Apàtrides,1
52411,2018,10,Sant Martí,71,Provençals del Poblenou,Dona,Apàtrides,0
52412,2018,10,Sant Martí,72,Sant Martí de Provençals,Dona,Apàtrides,0
52413,2018,10,Sant Martí,73,la Verneda i la Pau,Dona,Apàtrides,1

# Price for Rent Historical

In [61]:
dic = ["../datasets/all/lloguer_preu_trim_2015.csv", "../datasets/all/lloguer_preu_trim_2016.csv", 
       "../datasets/all/lloguer_preu_trim_2017.csv", "../datasets/all/lloguer_preu_trim_2018.csv",
       "../datasets/all/lloguer_preu_trim_2019.csv", "../datasets/all/lloguer_preu_trim_2020.csv"]

In [64]:
rent_price = HistMake("../datasets/all/lloguer_preu_trim_2014.csv", dic) 
rent_price

,Any,Trimestre,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Lloguer_mitja,Preu
0,2020,1,1,Ciutat Vella,1,el Raval,Lloguer mitjà mensual (Euros/mes),864.50
1,2020,1,1,Ciutat Vella,2,el Barri Gòtic,Lloguer mitjà mensual (Euros/mes),1110.20
2,2020,1,1,Ciutat Vella,3,la Barceloneta,Lloguer mitjà mensual (Euros/mes),899.50
3,2020,1,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Lloguer mitjà mensual (Euros/mes),1030.00
4,2020,1,2,Eixample,5,el Fort Pienc,Lloguer mitjà mensual (Euros/mes),1059.90
...,...,...,...,...,...,...,...,...
3791,2014,4,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Lloguer mitjà per superfície (Euros/m2 mes),11.49
3792,2014,4,10,Sant Martí,70,el Besòs i el Maresme,Lloguer mitjà per superfície (Euros/m2 mes),8.09
3793,2014,4,10,Sant Martí,71,Provençals del Poblenou,Lloguer mitjà per superfície (Euros/m2 mes),10.03
3794,2014,4,10,Sant Martí,72,Sant Martí de Provençals,Lloguer mitjà per superfície (Euros/m2 mes),8.86
3795,2014,4,10,Sant Martí,73,la Verneda i la Pau,Lloguer mitjà per superfície (Euros/m2 mes),8.14

In [68]:
rent_price.columns = ['Year', 'Trimester', 'Code_District', 'Name_Dist', 'Code_NBHD',
                      'Name_NBHD', 'Description', 'Price']

In [69]:
rent_price

,Year,Trimester,Code_District,Name_Dist,Code_NBHD,Name_NBHD,Description,Price
0,2020,1,1,Ciutat Vella,1,el Raval,Lloguer mitjà mensual (Euros/mes),864.50
1,2020,1,1,Ciutat Vella,2,el Barri Gòtic,Lloguer mitjà mensual (Euros/mes),1110.20
2,2020,1,1,Ciutat Vella,3,la Barceloneta,Lloguer mitjà mensual (Euros/mes),899.50
3,2020,1,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Lloguer mitjà mensual (Euros/mes),1030.00
4,2020,1,2,Eixample,5,el Fort Pienc,Lloguer mitjà mensual (Euros/mes),1059.90
...,...,...,...,...,...,...,...,...
3791,2014,4,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Lloguer mitjà per superfície (Euros/m2 mes),11.49
3792,2014,4,10,Sant Martí,70,el Besòs i el Maresme,Lloguer mitjà per superfície (Euros/m2 mes),8.09
3793,2014,4,10,Sant Martí,71,Provençals del Poblenou,Lloguer mitjà per superfície (Euros/m2 mes),10.03
3794,2014,4,10,Sant Martí,72,Sant Martí de Provençals,Lloguer mitjà per superfície (Euros/m2 mes),8.86
3795,2014,4,10,Sant Martí,73,la Verneda i la Pau,Lloguer mitjà per superfície (Euros/m2 mes),8.14

# Average Age for Disctrict

In [72]:
age = TwoMake("../datasets/all/loc_hab_edat_mitjana_2018.csv", "../datasets/all/loc_hab_edat_mitjana_2018.csv")
age

,any,codi_districte,nom_districte,codi_barri,nom_barri,seccio_censal,edat_mitjana
0,2018,1,Ciutat Vella,1,el Raval,1,68.0
1,2018,1,Ciutat Vella,1,el Raval,2,106.3
2,2018,1,Ciutat Vella,1,el Raval,3,90.4
3,2018,1,Ciutat Vella,1,el Raval,4,87.0
4,2018,1,Ciutat Vella,1,el Raval,5,100.0
...,...,...,...,...,...,...,...
2131,2018,10,Sant Martí,73,la Verneda i la Pau,139,52.4
2132,2018,10,Sant Martí,73,la Verneda i la Pau,140,54.6
2133,2018,10,Sant Martí,73,la Verneda i la Pau,141,45.7
2134,2018,10,Sant Martí,73,la Verneda i la Pau,142,52.0
2135,2018,10,Sant Martí,73,la Verneda i la Pau,143,55.0

In [73]:
age.isnull().sum()

any               0
codi_districte    0
nom_districte     0
codi_barri        0
nom_barri         0
seccio_censal     0
edat_mitjana      0
dtype: int64

In [77]:
age.columns = ['Year', 'Code_District', 'Name_Dist', 'Code_NBHD', 'Name_NBHD', 'Censal_Section' ,'Aver_Age']

In [78]:
age

,Year,Code_District,Name_Dist,Code_NBHD,Name_NBHD,Censal_Section,Aver_Age
0,2018,1,Ciutat Vella,1,el Raval,1,68.0
1,2018,1,Ciutat Vella,1,el Raval,2,106.3
2,2018,1,Ciutat Vella,1,el Raval,3,90.4
3,2018,1,Ciutat Vella,1,el Raval,4,87.0
4,2018,1,Ciutat Vella,1,el Raval,5,100.0
...,...,...,...,...,...,...,...
2131,2018,10,Sant Martí,73,la Verneda i la Pau,139,52.4
2132,2018,10,Sant Martí,73,la Verneda i la Pau,140,54.6
2133,2018,10,Sant Martí,73,la Verneda i la Pau,141,45.7
2134,2018,10,Sant Martí,73,la Verneda i la Pau,142,52.0
2135,2018,10,Sant Martí,73,la Verneda i la Pau,143,55.0

# Area of the Houses

In [79]:
sup = TwoMake("../datasets/all/loc_hab_sup_2018.csv", "../datasets/all/loc_hab_sup_2019.csv")
sup

,any,codi_districte,nom_districte,codi_barri,nom_barri,seccio_censal,desc_sup,nombre
0,2019,1,Ciutat Vella,1,el Raval,1,Fins a 30 m2,111
1,2019,1,Ciutat Vella,1,el Raval,1,31- 60 m2,324
2,2019,1,Ciutat Vella,1,el Raval,1,61- 90 m2,222
3,2019,1,Ciutat Vella,1,el Raval,1,91- 120 m2,105
4,2019,1,Ciutat Vella,1,el Raval,1,121- 150 m2,27
...,...,...,...,...,...,...,...,...
12915,2018,10,Sant Martí,73,la Verneda i la Pau,142,31- 60 m2,326
12916,2018,10,Sant Martí,73,la Verneda i la Pau,142,61- 90 m2,285
12917,2018,10,Sant Martí,73,la Verneda i la Pau,142,91- 120 m2,60
12918,2018,10,Sant Martí,73,la Verneda i la Pau,143,31- 60 m2,475
12919,2018,10,Sant Martí,73,la Verneda i la Pau,143,61- 90 m2,570

In [80]:
sup.isnull().sum()

any               0
codi_districte    0
nom_districte     0
codi_barri        0
nom_barri         0
seccio_censal     0
desc_sup          0
nombre            0
dtype: int64

In [82]:
sup.columns = ['Year', 'Code_District', 'Name_Dist', 'Code_NBHD', 'Name_NBHD', 'Censal_Section' , 'Description','Amount']

In [83]:
sup

,Year,Code_District,Name_Dist,Code_NBHD,Name_NBHD,Censal_Section,Description,Amount
0,2019,1,Ciutat Vella,1,el Raval,1,Fins a 30 m2,111
1,2019,1,Ciutat Vella,1,el Raval,1,31- 60 m2,324
2,2019,1,Ciutat Vella,1,el Raval,1,61- 90 m2,222
3,2019,1,Ciutat Vella,1,el Raval,1,91- 120 m2,105
4,2019,1,Ciutat Vella,1,el Raval,1,121- 150 m2,27
...,...,...,...,...,...,...,...,...
12915,2018,10,Sant Martí,73,la Verneda i la Pau,142,31- 60 m2,326
12916,2018,10,Sant Martí,73,la Verneda i la Pau,142,61- 90 m2,285
12917,2018,10,Sant Martí,73,la Verneda i la Pau,142,91- 120 m2,60
12918,2018,10,Sant Martí,73,la Verneda i la Pau,143,31- 60 m2,475
12919,2018,10,Sant Martí,73,la Verneda i la Pau,143,61- 90 m2,570

# Average Area of Houses

In [84]:
supmid = TwoMake("../datasets/all/loc_hab_sup_mitjana_2018.csv", "../datasets/all/loc_hab_sup_mitjana_2018.csv")
supmid

,any,codi_districte,nom_districte,codi_barri,nom_barri,seccio_censal,sup_mitjana_m2
0,2018,1,Ciutat Vella,1,el Raval,1,76.8
1,2018,1,Ciutat Vella,1,el Raval,2,71.6
2,2018,1,Ciutat Vella,1,el Raval,3,59.0
3,2018,1,Ciutat Vella,1,el Raval,4,65.3
4,2018,1,Ciutat Vella,1,el Raval,5,77.9
...,...,...,...,...,...,...,...
2131,2018,10,Sant Martí,73,la Verneda i la Pau,139,59.9
2132,2018,10,Sant Martí,73,la Verneda i la Pau,140,75.5
2133,2018,10,Sant Martí,73,la Verneda i la Pau,141,75.5
2134,2018,10,Sant Martí,73,la Verneda i la Pau,142,71.0
2135,2018,10,Sant Martí,73,la Verneda i la Pau,143,66.3

In [85]:
supmid.isnull().sum()

any               0
codi_districte    0
nom_districte     0
codi_barri        0
nom_barri         0
seccio_censal     0
sup_mitjana_m2    0
dtype: int64

In [87]:
supmid.columns = ['Year', 'Code_District', 'Name_Dist', 'Code_NBHD', 'Name_NBHD', 'Censal_Section' , 'Average_Area']

In [88]:
supmid

,Year,Code_District,Name_Dist,Code_NBHD,Name_NBHD,Censal_Section,Average_Area
0,2018,1,Ciutat Vella,1,el Raval,1,76.8
1,2018,1,Ciutat Vella,1,el Raval,2,71.6
2,2018,1,Ciutat Vella,1,el Raval,3,59.0
3,2018,1,Ciutat Vella,1,el Raval,4,65.3
4,2018,1,Ciutat Vella,1,el Raval,5,77.9
...,...,...,...,...,...,...,...
2131,2018,10,Sant Martí,73,la Verneda i la Pau,139,59.9
2132,2018,10,Sant Martí,73,la Verneda i la Pau,140,75.5
2133,2018,10,Sant Martí,73,la Verneda i la Pau,141,75.5
2134,2018,10,Sant Martí,73,la Verneda i la Pau,142,71.0
2135,2018,10,Sant Martí,73,la Verneda i la Pau,143,66.3

# Local by Use

In [103]:
loc = TwoMake("../datasets/all/locals_us_desti_2018.csv", "../datasets/all/locals_us_desti_2019.csv")
loc

,any,codi_districte,nom_districte,codi_barri,nom_barri,seccio_censal,desc_us_desti_principal,concepte,nombre
0,2019,1,Ciutat Vella,1,el Raval,1,Habitatge,Nombre,819.00
1,2019,1,Ciutat Vella,1,el Raval,1,Aparcaments,Nombre,98.00
2,2019,1,Ciutat Vella,1,el Raval,1,Comerç,Nombre,50.00
3,2019,1,Ciutat Vella,1,el Raval,1,Magatzem,Nombre,30.00
4,2019,1,Ciutat Vella,1,el Raval,1,Oficina,Nombre,157.00
...,...,...,...,...,...,...,...,...,...
52714,2018,10,Sant Martí,73,la Verneda i la Pau,142,Religiós,Valor_€,822218.98
52715,2018,10,Sant Martí,73,la Verneda i la Pau,143,Habitatge,Valor_€,37618731925.00
52716,2018,10,Sant Martí,73,la Verneda i la Pau,143,Comerç,Valor_€,601580565.00
52717,2018,10,Sant Martí,73,la Verneda i la Pau,143,Hotel,Valor_€,55101.37
52718,2018,10,Sant Martí,73,la Verneda i la Pau,143,Ensenyament,Valor_€,2120855.00

In [104]:
loc.isnull().sum()

any                        0
codi_districte             0
nom_districte              0
codi_barri                 0
nom_barri                  0
seccio_censal              0
desc_us_desti_principal    0
concepte                   0
nombre                     0
dtype: int64

In [105]:
loc.columns = ['Year', 'Code_District', 'Name_Dist', 'Code_NBHD', 'Name_NBHD', 'Censal_Section' ,'Use', "Description" , 'Amount']

In [88]:
supmid

,Year,Code_District,Name_Dist,Code_NBHD,Name_NBHD,Censal_Section,Average_Area
0,2018,1,Ciutat Vella,1,el Raval,1,76.8
1,2018,1,Ciutat Vella,1,el Raval,2,71.6
2,2018,1,Ciutat Vella,1,el Raval,3,59.0
3,2018,1,Ciutat Vella,1,el Raval,4,65.3
4,2018,1,Ciutat Vella,1,el Raval,5,77.9
...,...,...,...,...,...,...,...
2131,2018,10,Sant Martí,73,la Verneda i la Pau,139,59.9
2132,2018,10,Sant Martí,73,la Verneda i la Pau,140,75.5
2133,2018,10,Sant Martí,73,la Verneda i la Pau,141,75.5
2134,2018,10,Sant Martí,73,la Verneda i la Pau,142,71.0
2135,2018,10,Sant Martí,73,la Verneda i la Pau,143,66.3

In [106]:
loc

,Year,Code_District,Name_Dist,Code_NBHD,Name_NBHD,Censal_Section,Use,Description,Amount
0,2019,1,Ciutat Vella,1,el Raval,1,Habitatge,Nombre,819.00
1,2019,1,Ciutat Vella,1,el Raval,1,Aparcaments,Nombre,98.00
2,2019,1,Ciutat Vella,1,el Raval,1,Comerç,Nombre,50.00
3,2019,1,Ciutat Vella,1,el Raval,1,Magatzem,Nombre,30.00
4,2019,1,Ciutat Vella,1,el Raval,1,Oficina,Nombre,157.00
...,...,...,...,...,...,...,...,...,...
52714,2018,10,Sant Martí,73,la Verneda i la Pau,142,Religiós,Valor_€,822218.98
52715,2018,10,Sant Martí,73,la Verneda i la Pau,143,Habitatge,Valor_€,37618731925.00
52716,2018,10,Sant Martí,73,la Verneda i la Pau,143,Comerç,Valor_€,601580565.00
52717,2018,10,Sant Martí,73,la Verneda i la Pau,143,Hotel,Valor_€,55101.37
52718,2018,10,Sant Martí,73,la Verneda i la Pau,143,Ensenyament,Valor_€,2120855.00

# Ages and Nationality

In [109]:
dic = ["../datasets/all/padro_edat_quinquennal_per_nacionalitat_i_sexe_2018.csv",
       "../datasets/all/padro_edat_quinquennal_per_nacionalitat_i_sexe_2019.csv",
       "../datasets/all/padro_edat_quinquennal_per_nacionalitat_i_sexe_2020.csv"]

In [111]:
age_nat = HistMake("../datasets/all/padro_edat_quinquennal_per_nacionalitat_i_sexe_2017.csv", dic) 
age_nat

,Any,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Sexe,Nacionalitat,Edat_quinquennal,Nombre
0,2020,1,Ciutat Vella,1,el Raval,Dona,Espanyola,0-4 anys,395
1,2020,1,Ciutat Vella,2,el Barri Gòtic,Dona,Espanyola,0-4 anys,102
2,2020,1,Ciutat Vella,3,la Barceloneta,Dona,Espanyola,0-4 anys,131
3,2020,1,Ciutat Vella,4,"Sant Pere, Santa...",Dona,Espanyola,0-4 anys,185
4,2020,2,Eixample,5,el Fort Pienc,Dona,Espanyola,0-4 anys,419
...,...,...,...,...,...,...,...,...,...
24523,2017,10,Sant Martí,69,Diagonal Mar i e...,Dona,Estrangera,100 anys i més,0
24524,2017,10,Sant Martí,70,el Besòs i el Ma...,Dona,Estrangera,100 anys i més,0
24525,2017,10,Sant Martí,71,Provençals del P...,Dona,Estrangera,100 anys i més,0
24526,2017,10,Sant Martí,72,Sant Martí de Pr...,Dona,Estrangera,100 anys i més,0
24527,2017,10,Sant Martí,73,la Verneda i la Pau,Dona,Estrangera,100 anys i més,0

In [112]:
age_nat.columns = ['Year', 'Code_District', 'Name_Dist', 'Code_NBHD',
                      'Name_NBHD', 'Gender', 'Nationality', 'Age', 'Amount']

In [113]:
age_nat

,Year,Code_District,Name_Dist,Code_NBHD,Name_NBHD,Gender,Nationality,Age,Amount
0,2020,1,Ciutat Vella,1,el Raval,Dona,Espanyola,0-4 anys,395
1,2020,1,Ciutat Vella,2,el Barri Gòtic,Dona,Espanyola,0-4 anys,102
2,2020,1,Ciutat Vella,3,la Barceloneta,Dona,Espanyola,0-4 anys,131
3,2020,1,Ciutat Vella,4,"Sant Pere, Santa...",Dona,Espanyola,0-4 anys,185
4,2020,2,Eixample,5,el Fort Pienc,Dona,Espanyola,0-4 anys,419
...,...,...,...,...,...,...,...,...,...
24523,2017,10,Sant Martí,69,Diagonal Mar i e...,Dona,Estrangera,100 anys i més,0
24524,2017,10,Sant Martí,70,el Besòs i el Ma...,Dona,Estrangera,100 anys i més,0
24525,2017,10,Sant Martí,71,Provençals del P...,Dona,Estrangera,100 anys i més,0
24526,2017,10,Sant Martí,72,Sant Martí de Pr...,Dona,Estrangera,100 anys i més,0
24527,2017,10,Sant Martí,73,la Verneda i la Pau,Dona,Estrangera,100 anys i més,0