In [1]:
import pandas as pd
import numpy as np

In [ ]:
import requests
import re
import seaborn as sns

In [8]:
pd.set_option('display.max_columns', 20)
pd.set_option('display.width', 20)
pd.set_option('display.float_format', '{:.2f}'.format)

In [2]:
data = pd.read_csv("../datasets/Houses_Area.csv")
data

,Year,Code_District,Name_Dist,Code_NBHD,Name_NBHD,Censal_Section,Description,Amount
0,2019,1,Ciutat Vella,1,el Raval,1,Fins a 30 m2,111
1,2019,1,Ciutat Vella,1,el Raval,1,31- 60 m2,324
2,2019,1,Ciutat Vella,1,el Raval,1,61- 90 m2,222
3,2019,1,Ciutat Vella,1,el Raval,1,91- 120 m2,105
4,2019,1,Ciutat Vella,1,el Raval,1,121- 150 m2,27
...,...,...,...,...,...,...,...,...
12915,2018,10,Sant Martí,73,la Verneda i la Pau,142,31- 60 m2,326
12916,2018,10,Sant Martí,73,la Verneda i la Pau,142,61- 90 m2,285
12917,2018,10,Sant Martí,73,la Verneda i la Pau,142,91- 120 m2,60
12918,2018,10,Sant Martí,73,la Verneda i la Pau,143,31- 60 m2,475
12919,2018,10,Sant Martí,73,la Verneda i la Pau,143,61- 90 m2,570

In [3]:
data = pd.read_csv("../datasets/HousesAverage_Age_Area.csv")
data

,Year,Code_District,Name_Dist,Code_NBHD,Name_NBHD,Censal_Section,Average_Age,Average_Area
0,2018,1,Ciutat Vella,1,el Raval,1,68.0,76.8
1,2018,1,Ciutat Vella,1,el Raval,2,106.3,71.6
2,2018,1,Ciutat Vella,1,el Raval,3,90.4,59.0
3,2018,1,Ciutat Vella,1,el Raval,4,87.0,65.3
4,2018,1,Ciutat Vella,1,el Raval,5,100.0,77.9
...,...,...,...,...,...,...,...,...
2131,2019,10,Sant Martí,73,la Verneda i la Pau,139,53.4,59.9
2132,2019,10,Sant Martí,73,la Verneda i la Pau,140,55.6,75.5
2133,2019,10,Sant Martí,73,la Verneda i la Pau,141,46.7,75.5
2134,2019,10,Sant Martí,73,la Verneda i la Pau,142,53.0,71.0
2135,2019,10,Sant Martí,73,la Verneda i la Pau,143,56.0,66.3

In [5]:
data = pd.read_csv("../datasets/Rent_Houses_Hist.csv")
data

,Year,Trimester,Code_District,Name_Dist,Code_NBHD,Name_NBHD,Description,Price
0,2019,1,1,Ciutat Vella,1,el Raval,Average Euros/month,822.60
1,2019,1,1,Ciutat Vella,2,el Barri Gòtic,Average Euros/month,1060.90
2,2019,1,1,Ciutat Vella,3,la Barceloneta,Average Euros/month,891.30
3,2019,1,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Average Euros/month,990.20
4,2019,1,2,Eixample,5,el Fort Pienc,Average Euros/month,957.20
...,...,...,...,...,...,...,...,...
3499,2014,4,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Average Euros/m2 month,11.49
3500,2014,4,10,Sant Martí,70,el Besòs i el Maresme,Average Euros/m2 month,8.09
3501,2014,4,10,Sant Martí,71,Provençals del Poblenou,Average Euros/m2 month,10.03
3502,2014,4,10,Sant Martí,72,Sant Martí de Provençals,Average Euros/m2 month,8.86
3503,2014,4,10,Sant Martí,73,la Verneda i la Pau,Average Euros/m2 month,8.14

In [6]:
data = pd.read_csv("../datasets/Sale_Houses_Hist.csv")
data

,Year,Trimester,Code_District,Name_Dist,Code_NBHD,Name_NBHD,Description,Price,Type
0,2019,1,1,Ciutat Vella,1,el Raval,Thousands of Euros,236.7,Total
1,2019,1,1,Ciutat Vella,2,el Barri Gòtic,Thousands of Euros,411.7,Total
2,2019,1,1,Ciutat Vella,3,la Barceloneta,Thousands of Euros,215.6,Total
3,2019,1,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Thousands of Euros,306.0,Total
4,2019,1,2,Eixample,5,el Fort Pienc,Thousands of Euros,582.2,Total
...,...,...,...,...,...,...,...,...,...
10507,2014,4,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Euros/m2,5509.6,Used
10508,2014,4,10,Sant Martí,70,el Besòs i el Maresme,Euros/m2,2153.2,Used
10509,2014,4,10,Sant Martí,71,Provençals del Poblenou,Euros/m2,3602.4,Used
10510,2014,4,10,Sant Martí,72,Sant Martí de Provençals,Euros/m2,3403.7,Used
10511,2014,4,10,Sant Martí,73,la Verneda i la Pau,Euros/m2,1990.2,Used

In [7]:
data = pd.read_csv("../datasets/Type_Locals.csv")
data

,Year,Code_District,Name_Dist,Code_NBHD,Name_NBHD,Censal_Section,Use,Description,Amount
0,2019,1,Ciutat Vella,1,el Raval,1,Habitatge,Nombre,8.190000e+02
1,2019,1,Ciutat Vella,1,el Raval,1,Aparcaments,Nombre,9.800000e+01
2,2019,1,Ciutat Vella,1,el Raval,1,Comerç,Nombre,5.000000e+01
3,2019,1,Ciutat Vella,1,el Raval,1,Magatzem,Nombre,3.000000e+01
4,2019,1,Ciutat Vella,1,el Raval,1,Oficina,Nombre,1.570000e+02
...,...,...,...,...,...,...,...,...,...
52714,2018,10,Sant Martí,73,la Verneda i la Pau,142,Religiós,Valor_€,8.222190e+05
52715,2018,10,Sant Martí,73,la Verneda i la Pau,143,Habitatge,Valor_€,3.761873e+10
52716,2018,10,Sant Martí,73,la Verneda i la Pau,143,Comerç,Valor_€,6.015806e+08
52717,2018,10,Sant Martí,73,la Verneda i la Pau,143,Hotel,Valor_€,5.510137e+04
52718,2018,10,Sant Martí,73,la Verneda i la Pau,143,Ensenyament,Valor_€,2.120855e+06

In [9]:
data = pd.read_csv("../datasets/Density_Hist.csv")
data

,Year,Code_District,Name_Dist,Code_NBHD,Name_NBHD,Population,Total_Area(ha),Residential_Area(ha),Density(hab/ha),Real_Density(hab/ha)
0,2019,1,Ciutat Vella,1,el Raval,47353,110.00,49.60,430,955
1,2019,1,Ciutat Vella,2,el Barri Gòtic,18629,81.60,34.10,228,546
2,2019,1,Ciutat Vella,3,la Barceloneta,14857,109.50,13.50,136,1097
3,2019,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",22590,111.00,32.40,204,697
4,2019,2,Eixample,5,el Fort Pienc,32349,92.90,33.60,348,962
...,...,...,...,...,...,...,...,...,...,...
433,2014,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,13156,123.70,nan,106,571
434,2014,10,Sant Martí,70,el Besòs i el Maresme,22829,127.40,nan,179,891
435,2014,10,Sant Martí,71,Provençals del Poblenou,20096,110.50,nan,182,1491
436,2014,10,Sant Martí,72,Sant Martí de Provençals,25917,74.50,nan,348,1140
437,2014,10,Sant Martí,73,la Verneda i la Pau,28813,112.30,nan,257,889