In [1]:
import pandas as pd
import numpy as np

In [2]:
import requests
import re
import seaborn as sns

In [3]:
pd.set_option('display.max_columns', 20)
pd.set_option('display.width', 20)
pd.set_option('display.float_format', '{:.2f}'.format)

# House Area

RESOURCE STRUCTURE FROM 2018

*01.Year* - Year of the data

*02.Code_Dist* - District code

*03.Name_Dist* - Name of the district

*04.Code_NBHD* - Neighborhood code

*05.Name_NBHD* - Name of the neighborhood

*06.Censal_Section* - Census section

*07.AVG_Age* - Average age of housing premises

In [4]:
house_area = pd.read_csv("../datasets/Houses_Area.csv")
house_area

,Year,Code_Dist,Name_Dist,Code_NBHD,Name_NBHD,Censal_Section,Description,Amount
0,2019,1,Ciutat Vella,1,el Raval,1,Fins a 30 m2,111
1,2019,1,Ciutat Vella,1,el Raval,1,31- 60 m2,324
2,2019,1,Ciutat Vella,1,el Raval,1,61- 90 m2,222
3,2019,1,Ciutat Vella,1,el Raval,1,91- 120 m2,105
4,2019,1,Ciutat Vella,1,el Raval,1,121- 150 m2,27
...,...,...,...,...,...,...,...,...
12915,2018,10,Sant Martí,73,la Verneda i la Pau,142,31- 60 m2,326
12916,2018,10,Sant Martí,73,la Verneda i la Pau,142,61- 90 m2,285
12917,2018,10,Sant Martí,73,la Verneda i la Pau,142,91- 120 m2,60
12918,2018,10,Sant Martí,73,la Verneda i la Pau,143,31- 60 m2,475
12919,2018,10,Sant Martí,73,la Verneda i la Pau,143,61- 90 m2,570

# Houses AVG

RESOURCE STRUCTURE FROM 2018

*01.Year* - Year of the data

*02.Code_Dist* - District code

*03.Name_Dist* - Name of the district

*04.Code_NBHD* - Neighborhood code

*05.Name_NBHD* - Name of the neighborhood

*06.Censal_Section* - Census section

*07.AVG_Age* - Average age of housing premises

*08.AVG_Area* - Average area (m2) of residential premises

In [5]:
house_avg = pd.read_csv("../datasets/HousesAVG_Age_Area.csv")
house_avg

,Year,Code_Dist,Name_Dist,Code_NBHD,Name_NBHD,Censal_Section,AVG_Age,AVG_Area
0,2018,1,Ciutat Vella,1,el Raval,1,68.00,76.80
1,2018,1,Ciutat Vella,1,el Raval,2,106.30,71.60
2,2018,1,Ciutat Vella,1,el Raval,3,90.40,59.00
3,2018,1,Ciutat Vella,1,el Raval,4,87.00,65.30
4,2018,1,Ciutat Vella,1,el Raval,5,100.00,77.90
...,...,...,...,...,...,...,...,...
2131,2019,10,Sant Martí,73,la Verneda i la Pau,139,53.40,59.90
2132,2019,10,Sant Martí,73,la Verneda i la Pau,140,55.60,75.50
2133,2019,10,Sant Martí,73,la Verneda i la Pau,141,46.70,75.50
2134,2019,10,Sant Martí,73,la Verneda i la Pau,142,53.00,71.00
2135,2019,10,Sant Martí,73,la Verneda i la Pau,143,56.00,66.30

# Rent House Price

*01.Year* - Year of the data

*02.Trimester* - Data quarter

*03.Code_Dist* - District code

*04.Name_Dist* - Name of the district

*05.Code_NBHD* - Neighborhood code

*06.Name_NBHD* - Name of the neighborhood

*07.Description* - Average house price (thousands of euros)

*08.Price* - Value of the price of the house

In [6]:
rent_house = pd.read_csv("../datasets/Rent_Houses_Hist.csv")
rent_house

,Year,Trimester,Code_Dist,Name_Dist,Code_NBHD,Name_NBHD,Description,Price
0,2019,1,1,Ciutat Vella,1,el Raval,Average Euros/month,822.60
1,2019,1,1,Ciutat Vella,2,el Barri Gòtic,Average Euros/month,1060.90
2,2019,1,1,Ciutat Vella,3,la Barceloneta,Average Euros/month,891.30
3,2019,1,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Average Euros/month,990.20
4,2019,1,2,Eixample,5,el Fort Pienc,Average Euros/month,957.20
...,...,...,...,...,...,...,...,...
3499,2014,4,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Average Euros/m2 month,11.49
3500,2014,4,10,Sant Martí,70,el Besòs i el Maresme,Average Euros/m2 month,8.09
3501,2014,4,10,Sant Martí,71,Provençals del Poblenou,Average Euros/m2 month,10.03
3502,2014,4,10,Sant Martí,72,Sant Martí de Provençals,Average Euros/m2 month,8.86
3503,2014,4,10,Sant Martí,73,la Verneda i la Pau,Average Euros/m2 month,8.14

# Sale House Price

*01.Year* - Year of the data

*02.Trimester* - Data quarter

*03.Code_Dist* - District code

*04.Name_Dist* - Name of the district

*05.Code_NBHD* - Neighborhood code

*06.Name_NBHD* - Name of the neighborhood

*07.Description* - Average house price (thousands of euros)

*08.Price* - Value of the price of the house

*09.Type* -  The description of the type of the house

In [7]:
sale_house = pd.read_csv("../datasets/Sale_Houses_Hist.csv")
sale_house

,Year,Trimester,Code_Dist,Name_Dist,Code_NBHD,Name_NBHD,Description,Price,Type
0,2019,1,1,Ciutat Vella,1,el Raval,Thousands of Euros,236.70,Total
1,2019,1,1,Ciutat Vella,2,el Barri Gòtic,Thousands of Euros,411.70,Total
2,2019,1,1,Ciutat Vella,3,la Barceloneta,Thousands of Euros,215.60,Total
3,2019,1,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Thousands of Euros,306.00,Total
4,2019,1,2,Eixample,5,el Fort Pienc,Thousands of Euros,582.20,Total
...,...,...,...,...,...,...,...,...,...
10507,2014,4,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Euros/m2,5509.60,Used
10508,2014,4,10,Sant Martí,70,el Besòs i el Maresme,Euros/m2,2153.20,Used
10509,2014,4,10,Sant Martí,71,Provençals del Poblenou,Euros/m2,3602.40,Used
10510,2014,4,10,Sant Martí,72,Sant Martí de Provençals,Euros/m2,3403.70,Used
10511,2014,4,10,Sant Martí,73,la Verneda i la Pau,Euros/m2,1990.20,Used

# Local by use

RESOURCE STRUCTURE FROM 2018

*01.Year* - Year of the data

*02.Code_Dist* - District code

*03.Name_Dist* - Name of the district

*04.Code_NBHD* - Neighborhood code

*05.Name_NBHD* - Name of the neighborhood

*06.Censal_Section* - Census section

*07.Use* - Description of the main destination use

*08.Description* - Number, Area m2 and Value € of the cadastral premises

*09.Amount* - Number of premises, area and value per destination use

In [8]:
local = pd.read_csv("../datasets/Type_Locals.csv")
local

,Year,Code_Dist,Name_Dist,Code_NBHD,Name_NBHD,Censal_Section,Use,Description,Amount
0,2019,1,Ciutat Vella,1,el Raval,1,Habitatge,Nombre,819.00
1,2019,1,Ciutat Vella,1,el Raval,1,Aparcaments,Nombre,98.00
2,2019,1,Ciutat Vella,1,el Raval,1,Comerç,Nombre,50.00
3,2019,1,Ciutat Vella,1,el Raval,1,Magatzem,Nombre,30.00
4,2019,1,Ciutat Vella,1,el Raval,1,Oficina,Nombre,157.00
...,...,...,...,...,...,...,...,...,...
52714,2018,10,Sant Martí,73,la Verneda i la Pau,142,Religiós,Valor_€,822218.98
52715,2018,10,Sant Martí,73,la Verneda i la Pau,143,Habitatge,Valor_€,37618731925.00
52716,2018,10,Sant Martí,73,la Verneda i la Pau,143,Comerç,Valor_€,601580565.00
52717,2018,10,Sant Martí,73,la Verneda i la Pau,143,Hotel,Valor_€,55101.37
52718,2018,10,Sant Martí,73,la Verneda i la Pau,143,Ensenyament,Valor_€,2120855.00

# Density

*01.Year* - Year of the data

*02.Code_Dist* - District code

*03.Name_Dist* - Name of the district

*04.Code_NBHD* - Neighborhood code

*05.Name_NBHD* - Name of the neighborhood

*06.Population* - Population

*07.Total_Area(ha)* - Area (ha)

*08.Residential_Area(ha)* - Surface for residential use

*09.Density(hab / ha)* - Density is the number of inhabitants per unit area

*10.Real_Density (room / ha)* - Net density is the number of inhabitants per unit of residential area

In [10]:
density = pd.read_csv("../datasets/Density_Hist.csv")
density

,Year,Code_Dist,Name_Dist,Code_NBHD,Name_NBHD,Population,Total_Area(ha),Residential_Area(ha),Density(hab/ha),Real_Density(hab/ha)
0,2019,1,Ciutat Vella,1,el Raval,47353,110.00,49.60,430,955
1,2019,1,Ciutat Vella,2,el Barri Gòtic,18629,81.60,34.10,228,546
2,2019,1,Ciutat Vella,3,la Barceloneta,14857,109.50,13.50,136,1097
3,2019,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",22590,111.00,32.40,204,697
4,2019,2,Eixample,5,el Fort Pienc,32349,92.90,33.60,348,962
...,...,...,...,...,...,...,...,...,...,...
433,2014,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,13156,123.70,nan,106,571
434,2014,10,Sant Martí,70,el Besòs i el Maresme,22829,127.40,nan,179,891
435,2014,10,Sant Martí,71,Provençals del Poblenou,20096,110.50,nan,182,1491
436,2014,10,Sant Martí,72,Sant Martí de Provençals,25917,74.50,nan,348,1140
437,2014,10,Sant Martí,73,la Verneda i la Pau,28813,112.30,nan,257,889