In [2]:
import pandas as pd
import numpy as np

In [3]:
import requests
import re
import seaborn as sns

In [4]:
pd.set_option('display.max_columns', 20)
pd.set_option('display.width', 20)
pd.set_option('display.float_format', '{:.2f}'.format)

In [128]:
# I define the inicial dataset in the 'inic' variable (should be a string that contain the path of the file) 
# and in the 'dest' variable I do a list with the path of all the files I want concat

def HistMake (inic, dest):
    datatot = pd.read_csv(inic)
    datatot.columns= datatot.columns.str.lower()

    #I make a variable that would be mi fist dataframe
    for i in dest: 
        data0 = pd.read_csv(i)
        data0.columns= data0.columns.str.lower()

        datatot = pd.concat([data0,datatot], axis = 0).reset_index(drop=True)
    return datatot
        
def TwoMake (inic, dest):
    datatot = pd.read_csv(inic)
    datatot.columns= datatot.columns.str.lower()
    #I make a variable that would be mi fist dataframe
    data0 = pd.read_csv(dest)
    data0.columns= data0.columns.str.lower()
    datatot = pd.concat([data0,datatot], axis = 0).reset_index(drop=True)
    return datatot

# Sales Price Historical

*01.Year* - Year of the data

*02.Trimester* - Data quarter

*03.Code_District* - District code

*04.Name_Dist* - Name of the district

*05.Code_NBHD* - Neighborhood code

*06.Name_NBHD* - Name of the neighborhood

*07.Description* - Average house price (thousands of euros)

*08.Price* - Value of the price of the house

*09.Type* -  The description of the type of the house

In [38]:
price = [ "../datasets/all/comp_vend_preu_trim_2015.csv",
         "../datasets/all/comp_vend_preu_trim_2016.csv", "../datasets/all/comp_vend_preu_trim_2017.csv", 
         "../datasets/all/comp_vend_preu_trim_2018.csv", "../datasets/all/comp_vend_preu_trim_2019.csv"]

In [39]:
price_hist = HistMake("../datasets/all/comp_vend_preu_trim_2014.csv", price) 
price_hist

,Any,Trimestre,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Preu_mitja_habitatge,Valor
0,2019,1,1,Ciutat Vella,1,el Raval,Total. Milers d'euros,236.70
1,2019,1,1,Ciutat Vella,2,el Barri Gòtic,Total. Milers d'euros,411.70
2,2019,1,1,Ciutat Vella,3,la Barceloneta,Total. Milers d'euros,215.60
3,2019,1,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Total. Milers d'euros,306.00
4,2019,1,2,Eixample,5,el Fort Pienc,Total. Milers d'euros,582.20
...,...,...,...,...,...,...,...,...
10507,2014,4,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Usat. Euros/m2 construït,5509.60
10508,2014,4,10,Sant Martí,70,el Besòs i el Maresme,Usat. Euros/m2 construït,2153.20
10509,2014,4,10,Sant Martí,71,Provençals del Poblenou,Usat. Euros/m2 construït,3602.40
10510,2014,4,10,Sant Martí,72,Sant Martí de Provençals,Usat. Euros/m2 construït,3403.70
10511,2014,4,10,Sant Martí,73,la Verneda i la Pau,Usat. Euros/m2 construït,1990.20

In [40]:
price_hist.columns = ['Year', 'Trimester', 'Code_District', 'Name_Dist', 'Code_NBHD', 'Name_NBHD', 'Description', 'Price']
price_hist

,Year,Trimester,Code_District,Name_Dist,Code_NBHD,Name_NBHD,Description,Price
0,2019,1,1,Ciutat Vella,1,el Raval,Total. Milers d'euros,236.70
1,2019,1,1,Ciutat Vella,2,el Barri Gòtic,Total. Milers d'euros,411.70
2,2019,1,1,Ciutat Vella,3,la Barceloneta,Total. Milers d'euros,215.60
3,2019,1,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Total. Milers d'euros,306.00
4,2019,1,2,Eixample,5,el Fort Pienc,Total. Milers d'euros,582.20
...,...,...,...,...,...,...,...,...
10507,2014,4,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Usat. Euros/m2 construït,5509.60
10508,2014,4,10,Sant Martí,70,el Besòs i el Maresme,Usat. Euros/m2 construït,2153.20
10509,2014,4,10,Sant Martí,71,Provençals del Poblenou,Usat. Euros/m2 construït,3602.40
10510,2014,4,10,Sant Martí,72,Sant Martí de Provençals,Usat. Euros/m2 construït,3403.70
10511,2014,4,10,Sant Martí,73,la Verneda i la Pau,Usat. Euros/m2 construït,1990.20

In [41]:
price_hist["Type"] = price_hist.Description.apply(lambda x: x.split(".")[0])
price_hist["Description"] = price_hist.Description.apply(lambda x: x.split(".")[1])

In [42]:
price_hist.isnull().sum()

Year                0
Trimester           0
Code_District       0
Name_Dist           0
Code_NBHD           0
Name_NBHD           0
Description         0
Price            2891
Type                0
dtype: int64

In [50]:
price_hist.Type.value_counts()

Total    3504
Used     3504
New      3504
Name: Type, dtype: int64

In [47]:
#Replace the Catalan manual
price_hist.Description.replace(" Euros/m2 construït", "Euros/m2", inplace= True)
price_hist.Description.replace(" Milers d'euros", "Thousands of Euros", inplace= True)
price_hist.Type.replace("Usat", "Used", inplace= True)
price_hist.Type.replace("Nou", "New", inplace= True)

In [52]:
price_hist

,Year,Trimester,Code_District,Name_Dist,Code_NBHD,Name_NBHD,Description,Price,Type
0,2019,1,1,Ciutat Vella,1,el Raval,Thousands of Euros,236.70,Total
1,2019,1,1,Ciutat Vella,2,el Barri Gòtic,Thousands of Euros,411.70,Total
2,2019,1,1,Ciutat Vella,3,la Barceloneta,Thousands of Euros,215.60,Total
3,2019,1,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Thousands of Euros,306.00,Total
4,2019,1,2,Eixample,5,el Fort Pienc,Thousands of Euros,582.20,Total
...,...,...,...,...,...,...,...,...,...
10507,2014,4,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Euros/m2,5509.60,Used
10508,2014,4,10,Sant Martí,70,el Besòs i el Maresme,Euros/m2,2153.20,Used
10509,2014,4,10,Sant Martí,71,Provençals del Poblenou,Euros/m2,3602.40,Used
10510,2014,4,10,Sant Martí,72,Sant Martí de Provençals,Euros/m2,3403.70,Used
10511,2014,4,10,Sant Martí,73,la Verneda i la Pau,Euros/m2,1990.20,Used

In [55]:
price_hist.to_csv(r'../datasets/Sale_Houses_Hist.csv', index = False)

# Rent Price Historical

*01.Year* - Year of the data

*02.Trimester* - Data quarter

*03.Code_District* - District code

*04.Name_Dist* - Name of the district

*05.Code_NBHD* - Neighborhood code

*06.Name_NBHD* - Name of the neighborhood

*07.Description* - Average house price (thousands of euros)

*08.Price* - Value of the price of the house

In [62]:
dic = ["../datasets/all/lloguer_preu_trim_2015.csv", "../datasets/all/lloguer_preu_trim_2016.csv", 
       "../datasets/all/lloguer_preu_trim_2017.csv", "../datasets/all/lloguer_preu_trim_2018.csv",
       "../datasets/all/lloguer_preu_trim_2019.csv"]

In [63]:
rent_price = HistMake("../datasets/all/lloguer_preu_trim_2014.csv", dic) 
rent_price

,Any,Trimestre,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Lloguer_mitja,Preu
0,2019,1,1,Ciutat Vella,1,el Raval,Lloguer mitjà mensual (Euros/mes),822.60
1,2019,1,1,Ciutat Vella,2,el Barri Gòtic,Lloguer mitjà mensual (Euros/mes),1060.90
2,2019,1,1,Ciutat Vella,3,la Barceloneta,Lloguer mitjà mensual (Euros/mes),891.30
3,2019,1,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Lloguer mitjà mensual (Euros/mes),990.20
4,2019,1,2,Eixample,5,el Fort Pienc,Lloguer mitjà mensual (Euros/mes),957.20
...,...,...,...,...,...,...,...,...
3499,2014,4,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Lloguer mitjà per superfície (Euros/m2 mes),11.49
3500,2014,4,10,Sant Martí,70,el Besòs i el Maresme,Lloguer mitjà per superfície (Euros/m2 mes),8.09
3501,2014,4,10,Sant Martí,71,Provençals del Poblenou,Lloguer mitjà per superfície (Euros/m2 mes),10.03
3502,2014,4,10,Sant Martí,72,Sant Martí de Provençals,Lloguer mitjà per superfície (Euros/m2 mes),8.86
3503,2014,4,10,Sant Martí,73,la Verneda i la Pau,Lloguer mitjà per superfície (Euros/m2 mes),8.14

In [64]:
rent_price.columns = ['Year', 'Trimester', 'Code_District', 'Name_Dist', 'Code_NBHD',
                      'Name_NBHD', 'Description', 'Price']

In [68]:
rent_price.Description.value_counts()

Average Euros/m2 month    1752
Average Euros/month       1752
Name: Description, dtype: int64

In [67]:
#Replace the Catalan manual
rent_price.Description.replace("Lloguer mitjà mensual (Euros/mes)", "Average Euros/month", inplace= True)
rent_price.Description.replace("Lloguer mitjà per superfície (Euros/m2 mes)", "Average Euros/m2 month", inplace= True)

In [69]:
rent_price

,Year,Trimester,Code_District,Name_Dist,Code_NBHD,Name_NBHD,Description,Price
0,2019,1,1,Ciutat Vella,1,el Raval,Average Euros/month,822.60
1,2019,1,1,Ciutat Vella,2,el Barri Gòtic,Average Euros/month,1060.90
2,2019,1,1,Ciutat Vella,3,la Barceloneta,Average Euros/month,891.30
3,2019,1,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Average Euros/month,990.20
4,2019,1,2,Eixample,5,el Fort Pienc,Average Euros/month,957.20
...,...,...,...,...,...,...,...,...
3499,2014,4,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Average Euros/m2 month,11.49
3500,2014,4,10,Sant Martí,70,el Besòs i el Maresme,Average Euros/m2 month,8.09
3501,2014,4,10,Sant Martí,71,Provençals del Poblenou,Average Euros/m2 month,10.03
3502,2014,4,10,Sant Martí,72,Sant Martí de Provençals,Average Euros/m2 month,8.86
3503,2014,4,10,Sant Martí,73,la Verneda i la Pau,Average Euros/m2 month,8.14

In [70]:
rent_price.to_csv(r'../datasets/Rent_Houses_Hist.csv', index = False)

# Density Historical

*01.Year* - Year of the data

*02.Code_District* - District code

*03.Name_Dist* - Name of the district

*04.Code_NBHD* - Neighborhood code

*05.Name_NBHD* - Name of the neighborhood

*06.Population* - Population

*07.Total_Area(ha)* - Area (ha)

*08.Residential_Area(ha)* - Surface for residential use

*09.Density(hab / ha)* - Density is the number of inhabitants per unit area

*10.Real_Density (room / ha)* - Net density is the number of inhabitants per unit of residential area

In [71]:
density = ["../datasets/all/densitat_2015.csv", "../datasets/all/densitat_2016.csv", 
           "../datasets/all/densitat_2017.csv", "../datasets/all/densitat_2018.csv", "../datasets/all/densitat_2019.csv"]

In [72]:
density_hist = HistMake("../datasets/all/densitat_2014.csv", density) 
density_hist

,Any,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Població,Superfície (ha),Superfície Residencial (ha),Densitat (hab/ha),Densitat neta (hab/ha)
0,2019,1,Ciutat Vella,1,el Raval,47353,110.00,49.60,430,955
1,2019,1,Ciutat Vella,2,el Barri Gòtic,18629,81.60,34.10,228,546
2,2019,1,Ciutat Vella,3,la Barceloneta,14857,109.50,13.50,136,1097
3,2019,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",22590,111.00,32.40,204,697
4,2019,2,Eixample,5,el Fort Pienc,32349,92.90,33.60,348,962
...,...,...,...,...,...,...,...,...,...,...
433,2014,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,13156,123.70,nan,106,571
434,2014,10,Sant Martí,70,el Besòs i el Maresme,22829,127.40,nan,179,891
435,2014,10,Sant Martí,71,Provençals del Poblenou,20096,110.50,nan,182,1491
436,2014,10,Sant Martí,72,Sant Martí de Provençals,25917,74.50,nan,348,1140
437,2014,10,Sant Martí,73,la Verneda i la Pau,28813,112.30,nan,257,889

In [73]:
density_hist.columns = ['Year', 'Code_District', 'Name_Dist', 'Code_NBHD', 'Name_NBHD', 'Population', 
                        'Total_Area(ha)', 'Residential_Area(ha)', 'Density(hab/ha)', 'Real_Density(hab/ha)']

In [74]:
density_hist.isnull().sum()

Year                      0
Code_District             0
Name_Dist                 0
Code_NBHD                 0
Name_NBHD                 0
Population                0
Total_Area(ha)            0
Residential_Area(ha)    219
Density(hab/ha)           0
Real_Density(hab/ha)      0
dtype: int64

In [75]:
density_hist

,Year,Code_District,Name_Dist,Code_NBHD,Name_NBHD,Population,Total_Area(ha),Residential_Area(ha),Density(hab/ha),Real_Density(hab/ha)
0,2019,1,Ciutat Vella,1,el Raval,47353,110.00,49.60,430,955
1,2019,1,Ciutat Vella,2,el Barri Gòtic,18629,81.60,34.10,228,546
2,2019,1,Ciutat Vella,3,la Barceloneta,14857,109.50,13.50,136,1097
3,2019,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",22590,111.00,32.40,204,697
4,2019,2,Eixample,5,el Fort Pienc,32349,92.90,33.60,348,962
...,...,...,...,...,...,...,...,...,...,...
433,2014,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,13156,123.70,nan,106,571
434,2014,10,Sant Martí,70,el Besòs i el Maresme,22829,127.40,nan,179,891
435,2014,10,Sant Martí,71,Provençals del Poblenou,20096,110.50,nan,182,1491
436,2014,10,Sant Martí,72,Sant Martí de Provençals,25917,74.50,nan,348,1140
437,2014,10,Sant Martí,73,la Verneda i la Pau,28813,112.30,nan,257,889

In [76]:
density_hist.to_csv(r'../datasets/Density_Hist.csv', index = False)

# Composition of the Houses Ages Historical

*01.Year* - Year of the data

*02.Code_District* - District code

*03.Name_Dist* - Name of the district

*04.Code_NBHD* - Neighborhood code

*05.Name_NBHD* - Name of the neighborhood

*06.Nationality* - Nationality of people

*07.Average_Age* - Average age of the population

In [174]:
den = ["../datasets/all/domicilis_edat_mitjana_nacionalitat_2015.csv", 
           "../datasets/all/domicilis_edat_mitjana_nacionalitat_2016.csv", 
           "../datasets/all/domicilis_edat_mitjana_nacionalitat_2017.csv", 
           "../datasets/all/domicilis_edat_mitjana_nacionalitat_2018.csv", 
           "../datasets/all/domicilis_edat_mitjana_nacionalitat_2019.csv"]

In [175]:
aa = HistMake("../datasets/all/domicilis_edat_mitjana_nacionalitat_2014.csv", den) 
aa

,any,codi_districte,nom_districte,codi_barri,nom_barri,nombre,edat_mitjana,nacionalitat
0,2019,1,Ciutat Vella,1,el Raval,Tots espanyols,50.25,NaN
1,2019,1,Ciutat Vella,2,el Barri Gòtic,Tots espanyols,51.08,NaN
2,2019,1,Ciutat Vella,3,la Barceloneta,Tots espanyols,50.57,NaN
3,2019,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Tots espanyols,49.73,NaN
4,2019,2,Eixample,5,el Fort Pienc,Tots espanyols,49.02,NaN
...,...,...,...,...,...,...,...,...
1309,2014,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,NaN,33.50,Llars mixtes
1310,2014,10,Sant Martí,70,el Besòs i el Maresme,NaN,33.30,Llars mixtes
1311,2014,10,Sant Martí,71,Provençals del Poblenou,NaN,32.20,Llars mixtes
1312,2014,10,Sant Martí,72,Sant Martí de Provençals,NaN,33.50,Llars mixtes
1313,2014,10,Sant Martí,73,la Verneda i la Pau,NaN,35.50,Llars mixtes

In [176]:
aa.loc[aa['nacionalitat'].notnull(), "nombre"] = aa["nacionalitat"]

In [177]:
aa.nacionalitat.value_counts()

Tots estrangers     365
Tots espanyols      365
Llars mixtes        219
Domicilis mixtos    146
Name: nacionalitat, dtype: int64

In [178]:
aa.isnull().sum()

any                 0
codi_districte      0
nom_districte       0
codi_barri          0
nom_barri           0
nombre              0
edat_mitjana        0
nacionalitat      219
dtype: int64

In [179]:
comp_hist = aa.iloc[:,0:-1]

In [180]:
comp_hist.columns = ['Year', 'Code_District', 'Name_Dist', 'Code_NBHD', 'Name_NBHD', 'Nationality', 'Average_Age']

In [181]:
comp_hist

,Year,Code_District,Name_Dist,Code_NBHD,Name_NBHD,Nationality,Average_Age
0,2019,1,Ciutat Vella,1,el Raval,Tots espanyols,50.25
1,2019,1,Ciutat Vella,2,el Barri Gòtic,Tots espanyols,51.08
2,2019,1,Ciutat Vella,3,la Barceloneta,Tots espanyols,50.57
3,2019,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Tots espanyols,49.73
4,2019,2,Eixample,5,el Fort Pienc,Tots espanyols,49.02
...,...,...,...,...,...,...,...
1309,2014,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Llars mixtes,33.50
1310,2014,10,Sant Martí,70,el Besòs i el Maresme,Llars mixtes,33.30
1311,2014,10,Sant Martí,71,Provençals del Poblenou,Llars mixtes,32.20
1312,2014,10,Sant Martí,72,Sant Martí de Provençals,Llars mixtes,33.50
1313,2014,10,Sant Martí,73,la Verneda i la Pau,Llars mixtes,35.50

In [182]:
comp_hist.Nationality.value_counts()

Tots estrangers     438
Tots espanyols      438
Domicilis mixtos    219
Llars mixtes        219
Name: Nationality, dtype: int64

In [183]:
#Replace the Catalan manual
comp_hist.Nationality.replace("Tots estrangers", "Foreigners", inplace= True)
comp_hist.Nationality.replace("Tots espanyols", "Spaniards", inplace= True)
comp_hist.Nationality.replace("Domicilis mixtos", "Mixed", inplace= True)
comp_hist.Nationality.replace("Llars mixtes", "Mixed", inplace= True)

In [184]:
comp_hist.isnull().sum()

Year             0
Code_District    0
Name_Dist        0
Code_NBHD        0
Name_NBHD        0
Nationality      0
Average_Age      0
dtype: int64

In [185]:
comp_hist.to_csv(r'../datasets/Density_Hist.csv', index = False)

# Composition of the Houses Nationality Historical

In [212]:
den = ["../datasets/all/domicilis_nacionalitat_2015.csv",  "../datasets/all/domicilis_nacionalitat_2016.csv", 
       "../datasets/all/domicilis_nacionalitat_2017.csv", "../datasets/all/domicilis_nacionalitat_2018.csv", 
       "../datasets/all/domicilis_nacionalitat_2019.csv"]

In [213]:
comp = HistMake("../datasets/all/domicilis_nacionalitat_2014.csv", den) 
comp

,any,codi_districte,nom_districte,codi_barri,nom_barri,nacionalitat,nombre
0,2019,1,Ciutat Vella,1,el Raval,Tots espanyols,8025
1,2019,1,Ciutat Vella,2,el Barri Gòtic,Tots espanyols,3105
2,2019,1,Ciutat Vella,3,la Barceloneta,Tots espanyols,3896
3,2019,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Tots espanyols,5305
4,2019,2,Eixample,5,el Fort Pienc,Tots espanyols,9533
...,...,...,...,...,...,...,...
1315,2014,10,Sant Martí,70,el Besòs i el Maresme,Llars mixtes,891
1316,2014,10,Sant Martí,71,Provençals del Poblenou,Llars mixtes,659
1317,2014,10,Sant Martí,72,Sant Martí de Provençals,Llars mixtes,741
1318,2014,10,Sant Martí,73,la Verneda i la Pau,Llars mixtes,782
1319,2014,99,No consta,99,No consta,Llars mixtes,0

In [214]:
comp.isnull().sum()

any               0
codi_districte    0
nom_districte     0
codi_barri        0
nom_barri         0
nacionalitat      0
nombre            0
dtype: int64

In [215]:
comp.columns = ['Year', 'Code_District', 'Name_Dist', 'Code_NBHD', 'Name_NBHD', 'Nationality', 'Amount']

In [216]:
#Replace the Catalan manual
comp.Nationality.replace("Tots estrangers", "Foreigners", inplace= True)
comp.Nationality.replace("Tots espanyols", "Spaniards", inplace= True)
comp.Nationality.replace("Domicilis mixtos", "Mixed", inplace= True)
comp.Nationality.replace("Llars mixtes", "Mixed", inplace= True)

In [228]:
comp["KEY"] =  comp["Year"].astype(str) + "-" + comp["Code_NBHD"].astype(str) + "-" + comp["Nationality"]
comp_hist["KEY"] = comp_hist["Year"].astype(str) + "-" + comp_hist["Code_NBHD"].astype(str) + "-" + comp["Nationality"]

In [229]:
comp

,Year,Code_District,Name_Dist,Code_NBHD,Name_NBHD,Nationality,Amount,KEY
0,2019,1,Ciutat Vella,1,el Raval,Spaniards,8025,2019-1-Spaniards
1,2019,1,Ciutat Vella,2,el Barri Gòtic,Spaniards,3105,2019-2-Spaniards
2,2019,1,Ciutat Vella,3,la Barceloneta,Spaniards,3896,2019-3-Spaniards
3,2019,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Spaniards,5305,2019-4-Spaniards
4,2019,2,Eixample,5,el Fort Pienc,Spaniards,9533,2019-5-Spaniards
...,...,...,...,...,...,...,...,...
1314,2014,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Mixed,566,2014-69-Mixed
1315,2014,10,Sant Martí,70,el Besòs i el Maresme,Mixed,891,2014-70-Mixed
1316,2014,10,Sant Martí,71,Provençals del Poblenou,Mixed,659,2014-71-Mixed
1317,2014,10,Sant Martí,72,Sant Martí de Provençals,Mixed,741,2014-72-Mixed
1318,2014,10,Sant Martí,73,la Verneda i la Pau,Mixed,782,2014-73-Mixed

In [230]:
comp = comp[comp["Code_NBHD"] != 99]
comp.reset_index(drop=True)

,Year,Code_District,Name_Dist,Code_NBHD,Name_NBHD,Nationality,Amount,KEY
0,2019,1,Ciutat Vella,1,el Raval,Spaniards,8025,2019-1-Spaniards
1,2019,1,Ciutat Vella,2,el Barri Gòtic,Spaniards,3105,2019-2-Spaniards
2,2019,1,Ciutat Vella,3,la Barceloneta,Spaniards,3896,2019-3-Spaniards
3,2019,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Spaniards,5305,2019-4-Spaniards
4,2019,2,Eixample,5,el Fort Pienc,Spaniards,9533,2019-5-Spaniards
...,...,...,...,...,...,...,...,...
1309,2014,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Mixed,566,2014-69-Mixed
1310,2014,10,Sant Martí,70,el Besòs i el Maresme,Mixed,891,2014-70-Mixed
1311,2014,10,Sant Martí,71,Provençals del Poblenou,Mixed,659,2014-71-Mixed
1312,2014,10,Sant Martí,72,Sant Martí de Provençals,Mixed,741,2014-72-Mixed
1313,2014,10,Sant Martí,73,la Verneda i la Pau,Mixed,782,2014-73-Mixed

In [231]:
comp_hist

,Year,Code_District,Name_Dist,Code_NBHD,Name_NBHD,Nationality,Average_Age,KEY
0,2019,1,Ciutat Vella,1,el Raval,Spaniards,50.25,2019-1-Spaniards
1,2019,1,Ciutat Vella,2,el Barri Gòtic,Spaniards,51.08,2019-2-Spaniards
2,2019,1,Ciutat Vella,3,la Barceloneta,Spaniards,50.57,2019-3-Spaniards
3,2019,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Spaniards,49.73,2019-4-Spaniards
4,2019,2,Eixample,5,el Fort Pienc,Spaniards,49.02,2019-5-Spaniards
...,...,...,...,...,...,...,...,...
1309,2014,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Mixed,33.50,2014-69-Mixed
1310,2014,10,Sant Martí,70,el Besòs i el Maresme,Mixed,33.30,2014-70-Mixed
1311,2014,10,Sant Martí,71,Provençals del Poblenou,Mixed,32.20,2014-71-Mixed
1312,2014,10,Sant Martí,72,Sant Martí de Provençals,Mixed,33.50,2014-72-Mixed
1313,2014,10,Sant Martí,73,la Verneda i la Pau,Mixed,35.50,2014-73-Mixed

In [235]:
df = pd.merge(comp,comp_hist, left_on="KEY", right_on="KEY", how='left')
df

,Year_x,Code_District_x,Name_Dist_x,Code_NBHD_x,Name_NBHD_x,Nationality_x,Amount,KEY,Year_y,Code_District_y,Name_Dist_y,Code_NBHD_y,Name_NBHD_y,Nationality_y,Average_Age
0,2019,1,Ciutat Vella,1,el Raval,Spaniards,8025,2019-1-Spaniards,2019.00,1.00,Ciutat Vella,1.00,el Raval,Spaniards,50.25
1,2019,1,Ciutat Vella,2,el Barri Gòtic,Spaniards,3105,2019-2-Spaniards,2019.00,1.00,Ciutat Vella,2.00,el Barri Gòtic,Spaniards,51.08
2,2019,1,Ciutat Vella,3,la Barceloneta,Spaniards,3896,2019-3-Spaniards,2019.00,1.00,Ciutat Vella,3.00,la Barceloneta,Spaniards,50.57
3,2019,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Spaniards,5305,2019-4-Spaniards,2019.00,1.00,Ciutat Vella,4.00,"Sant Pere, Santa Caterina i la Ribera",Spaniards,49.73
4,2019,2,Eixample,5,el Fort Pienc,Spaniards,9533,2019-5-Spaniards,2019.00,2.00,Eixample,5.00,el Fort Pienc,Spaniards,49.02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1309,2014,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Mixed,566,2014-69-Mixed,2014.00,10.00,Sant Martí,69.00,Diagonal Mar i el Front Marítim del Poblenou,Mixed,33.50
1310,2014,10,Sant Martí,70,el Besòs i el Maresme,Mixed,891,2014-70-Mixed,2014.00,10.00,Sant Martí,70.00,el Besòs i el Maresme,Mixed,33.30
1311,2014,10,Sant Martí,71,Provençals del Poblenou,Mixed,659,2014-71-Mixed,2014.00,10.00,Sant Martí,71.00,Provençals del Poblenou,Mixed,32.20
1312,2014,10,Sant Martí,72,Sant Martí de Provençals,Mixed,741,2014-72-Mixed,2014.00,10.00,Sant Martí,72.00,Sant Martí de Provençals,Mixed,33.50
1313,2014,10,Sant Martí,73,la Verneda i la Pau,Mixed,782,2014-73-Mixed,2014.00,10.00,Sant Martí,73.00,la Verneda i la Pau,Mixed,35.50

# Nationality

In [55]:
ine = TwoMake("../datasets/all/ine_nacionalitat_per_sexe_2018.csv", "../datasets/all/ine_nacionalitat_per_sexe_2019.csv")
ine

,any,codi_districte,nom_districte,codi_barri,nom_barri,sexe,nacionalitat,nombre
0,2019,1,Ciutat Vella,1,el Raval,Dona,Espanya,11666
1,2019,1,Ciutat Vella,2,el Barri Gòtic,Dona,Espanya,4214
2,2019,1,Ciutat Vella,3,la Barceloneta,Dona,Espanya,4801
3,2019,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Dona,Espanya,6570
4,2019,2,Eixample,5,el Fort Pienc,Dona,Espanya,13074
...,...,...,...,...,...,...,...,...
52409,2018,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Dona,Apàtrides,0
52410,2018,10,Sant Martí,70,el Besòs i el Maresme,Dona,Apàtrides,1
52411,2018,10,Sant Martí,71,Provençals del Poblenou,Dona,Apàtrides,0
52412,2018,10,Sant Martí,72,Sant Martí de Provençals,Dona,Apàtrides,0
52413,2018,10,Sant Martí,73,la Verneda i la Pau,Dona,Apàtrides,1

In [56]:
ine.isnull().sum()

any               0
codi_districte    0
nom_districte     0
codi_barri        0
nom_barri         0
sexe              0
nacionalitat      0
nombre            0
dtype: int64

In [59]:
ine.columns = ['Year', 'Code_District', 'Name_Dist', 'Code_NBHD', 'Name_NBHD', 'Gender' ,'Nationality', 'People']

In [60]:
ine

,Year,Code_District,Name_Dist,Code_NBHD,Name_NBHD,Gender,Nationality,People
0,2019,1,Ciutat Vella,1,el Raval,Dona,Espanya,11666
1,2019,1,Ciutat Vella,2,el Barri Gòtic,Dona,Espanya,4214
2,2019,1,Ciutat Vella,3,la Barceloneta,Dona,Espanya,4801
3,2019,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Dona,Espanya,6570
4,2019,2,Eixample,5,el Fort Pienc,Dona,Espanya,13074
...,...,...,...,...,...,...,...,...
52409,2018,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Dona,Apàtrides,0
52410,2018,10,Sant Martí,70,el Besòs i el Maresme,Dona,Apàtrides,1
52411,2018,10,Sant Martí,71,Provençals del Poblenou,Dona,Apàtrides,0
52412,2018,10,Sant Martí,72,Sant Martí de Provençals,Dona,Apàtrides,0
52413,2018,10,Sant Martí,73,la Verneda i la Pau,Dona,Apàtrides,1

# Average Age for Disctrict

In [72]:
age = TwoMake("../datasets/all/loc_hab_edat_mitjana_2018.csv", "../datasets/all/loc_hab_edat_mitjana_2018.csv")
age

,any,codi_districte,nom_districte,codi_barri,nom_barri,seccio_censal,edat_mitjana
0,2018,1,Ciutat Vella,1,el Raval,1,68.0
1,2018,1,Ciutat Vella,1,el Raval,2,106.3
2,2018,1,Ciutat Vella,1,el Raval,3,90.4
3,2018,1,Ciutat Vella,1,el Raval,4,87.0
4,2018,1,Ciutat Vella,1,el Raval,5,100.0
...,...,...,...,...,...,...,...
2131,2018,10,Sant Martí,73,la Verneda i la Pau,139,52.4
2132,2018,10,Sant Martí,73,la Verneda i la Pau,140,54.6
2133,2018,10,Sant Martí,73,la Verneda i la Pau,141,45.7
2134,2018,10,Sant Martí,73,la Verneda i la Pau,142,52.0
2135,2018,10,Sant Martí,73,la Verneda i la Pau,143,55.0

In [73]:
age.isnull().sum()

any               0
codi_districte    0
nom_districte     0
codi_barri        0
nom_barri         0
seccio_censal     0
edat_mitjana      0
dtype: int64

In [77]:
age.columns = ['Year', 'Code_District', 'Name_Dist', 'Code_NBHD', 'Name_NBHD', 'Censal_Section' ,'Aver_Age']

In [78]:
age

,Year,Code_District,Name_Dist,Code_NBHD,Name_NBHD,Censal_Section,Aver_Age
0,2018,1,Ciutat Vella,1,el Raval,1,68.0
1,2018,1,Ciutat Vella,1,el Raval,2,106.3
2,2018,1,Ciutat Vella,1,el Raval,3,90.4
3,2018,1,Ciutat Vella,1,el Raval,4,87.0
4,2018,1,Ciutat Vella,1,el Raval,5,100.0
...,...,...,...,...,...,...,...
2131,2018,10,Sant Martí,73,la Verneda i la Pau,139,52.4
2132,2018,10,Sant Martí,73,la Verneda i la Pau,140,54.6
2133,2018,10,Sant Martí,73,la Verneda i la Pau,141,45.7
2134,2018,10,Sant Martí,73,la Verneda i la Pau,142,52.0
2135,2018,10,Sant Martí,73,la Verneda i la Pau,143,55.0

# Area of the Houses

In [79]:
sup = TwoMake("../datasets/all/loc_hab_sup_2018.csv", "../datasets/all/loc_hab_sup_2019.csv")
sup

,any,codi_districte,nom_districte,codi_barri,nom_barri,seccio_censal,desc_sup,nombre
0,2019,1,Ciutat Vella,1,el Raval,1,Fins a 30 m2,111
1,2019,1,Ciutat Vella,1,el Raval,1,31- 60 m2,324
2,2019,1,Ciutat Vella,1,el Raval,1,61- 90 m2,222
3,2019,1,Ciutat Vella,1,el Raval,1,91- 120 m2,105
4,2019,1,Ciutat Vella,1,el Raval,1,121- 150 m2,27
...,...,...,...,...,...,...,...,...
12915,2018,10,Sant Martí,73,la Verneda i la Pau,142,31- 60 m2,326
12916,2018,10,Sant Martí,73,la Verneda i la Pau,142,61- 90 m2,285
12917,2018,10,Sant Martí,73,la Verneda i la Pau,142,91- 120 m2,60
12918,2018,10,Sant Martí,73,la Verneda i la Pau,143,31- 60 m2,475
12919,2018,10,Sant Martí,73,la Verneda i la Pau,143,61- 90 m2,570

In [80]:
sup.isnull().sum()

any               0
codi_districte    0
nom_districte     0
codi_barri        0
nom_barri         0
seccio_censal     0
desc_sup          0
nombre            0
dtype: int64

In [82]:
sup.columns = ['Year', 'Code_District', 'Name_Dist', 'Code_NBHD', 'Name_NBHD', 'Censal_Section' , 'Description','Amount']

In [83]:
sup

,Year,Code_District,Name_Dist,Code_NBHD,Name_NBHD,Censal_Section,Description,Amount
0,2019,1,Ciutat Vella,1,el Raval,1,Fins a 30 m2,111
1,2019,1,Ciutat Vella,1,el Raval,1,31- 60 m2,324
2,2019,1,Ciutat Vella,1,el Raval,1,61- 90 m2,222
3,2019,1,Ciutat Vella,1,el Raval,1,91- 120 m2,105
4,2019,1,Ciutat Vella,1,el Raval,1,121- 150 m2,27
...,...,...,...,...,...,...,...,...
12915,2018,10,Sant Martí,73,la Verneda i la Pau,142,31- 60 m2,326
12916,2018,10,Sant Martí,73,la Verneda i la Pau,142,61- 90 m2,285
12917,2018,10,Sant Martí,73,la Verneda i la Pau,142,91- 120 m2,60
12918,2018,10,Sant Martí,73,la Verneda i la Pau,143,31- 60 m2,475
12919,2018,10,Sant Martí,73,la Verneda i la Pau,143,61- 90 m2,570

# Average Area of Houses

In [84]:
supmid = TwoMake("../datasets/all/loc_hab_sup_mitjana_2018.csv", "../datasets/all/loc_hab_sup_mitjana_2018.csv")
supmid

,any,codi_districte,nom_districte,codi_barri,nom_barri,seccio_censal,sup_mitjana_m2
0,2018,1,Ciutat Vella,1,el Raval,1,76.8
1,2018,1,Ciutat Vella,1,el Raval,2,71.6
2,2018,1,Ciutat Vella,1,el Raval,3,59.0
3,2018,1,Ciutat Vella,1,el Raval,4,65.3
4,2018,1,Ciutat Vella,1,el Raval,5,77.9
...,...,...,...,...,...,...,...
2131,2018,10,Sant Martí,73,la Verneda i la Pau,139,59.9
2132,2018,10,Sant Martí,73,la Verneda i la Pau,140,75.5
2133,2018,10,Sant Martí,73,la Verneda i la Pau,141,75.5
2134,2018,10,Sant Martí,73,la Verneda i la Pau,142,71.0
2135,2018,10,Sant Martí,73,la Verneda i la Pau,143,66.3

In [85]:
supmid.isnull().sum()

any               0
codi_districte    0
nom_districte     0
codi_barri        0
nom_barri         0
seccio_censal     0
sup_mitjana_m2    0
dtype: int64

In [87]:
supmid.columns = ['Year', 'Code_District', 'Name_Dist', 'Code_NBHD', 'Name_NBHD', 'Censal_Section' , 'Average_Area']

In [88]:
supmid

,Year,Code_District,Name_Dist,Code_NBHD,Name_NBHD,Censal_Section,Average_Area
0,2018,1,Ciutat Vella,1,el Raval,1,76.8
1,2018,1,Ciutat Vella,1,el Raval,2,71.6
2,2018,1,Ciutat Vella,1,el Raval,3,59.0
3,2018,1,Ciutat Vella,1,el Raval,4,65.3
4,2018,1,Ciutat Vella,1,el Raval,5,77.9
...,...,...,...,...,...,...,...
2131,2018,10,Sant Martí,73,la Verneda i la Pau,139,59.9
2132,2018,10,Sant Martí,73,la Verneda i la Pau,140,75.5
2133,2018,10,Sant Martí,73,la Verneda i la Pau,141,75.5
2134,2018,10,Sant Martí,73,la Verneda i la Pau,142,71.0
2135,2018,10,Sant Martí,73,la Verneda i la Pau,143,66.3

# Local by Use

In [103]:
loc = TwoMake("../datasets/all/locals_us_desti_2018.csv", "../datasets/all/locals_us_desti_2019.csv")
loc

,any,codi_districte,nom_districte,codi_barri,nom_barri,seccio_censal,desc_us_desti_principal,concepte,nombre
0,2019,1,Ciutat Vella,1,el Raval,1,Habitatge,Nombre,819.00
1,2019,1,Ciutat Vella,1,el Raval,1,Aparcaments,Nombre,98.00
2,2019,1,Ciutat Vella,1,el Raval,1,Comerç,Nombre,50.00
3,2019,1,Ciutat Vella,1,el Raval,1,Magatzem,Nombre,30.00
4,2019,1,Ciutat Vella,1,el Raval,1,Oficina,Nombre,157.00
...,...,...,...,...,...,...,...,...,...
52714,2018,10,Sant Martí,73,la Verneda i la Pau,142,Religiós,Valor_€,822218.98
52715,2018,10,Sant Martí,73,la Verneda i la Pau,143,Habitatge,Valor_€,37618731925.00
52716,2018,10,Sant Martí,73,la Verneda i la Pau,143,Comerç,Valor_€,601580565.00
52717,2018,10,Sant Martí,73,la Verneda i la Pau,143,Hotel,Valor_€,55101.37
52718,2018,10,Sant Martí,73,la Verneda i la Pau,143,Ensenyament,Valor_€,2120855.00

In [104]:
loc.isnull().sum()

any                        0
codi_districte             0
nom_districte              0
codi_barri                 0
nom_barri                  0
seccio_censal              0
desc_us_desti_principal    0
concepte                   0
nombre                     0
dtype: int64

In [105]:
loc.columns = ['Year', 'Code_District', 'Name_Dist', 'Code_NBHD', 'Name_NBHD', 'Censal_Section' ,'Use', "Description" , 'Amount']

In [88]:
supmid

,Year,Code_District,Name_Dist,Code_NBHD,Name_NBHD,Censal_Section,Average_Area
0,2018,1,Ciutat Vella,1,el Raval,1,76.8
1,2018,1,Ciutat Vella,1,el Raval,2,71.6
2,2018,1,Ciutat Vella,1,el Raval,3,59.0
3,2018,1,Ciutat Vella,1,el Raval,4,65.3
4,2018,1,Ciutat Vella,1,el Raval,5,77.9
...,...,...,...,...,...,...,...
2131,2018,10,Sant Martí,73,la Verneda i la Pau,139,59.9
2132,2018,10,Sant Martí,73,la Verneda i la Pau,140,75.5
2133,2018,10,Sant Martí,73,la Verneda i la Pau,141,75.5
2134,2018,10,Sant Martí,73,la Verneda i la Pau,142,71.0
2135,2018,10,Sant Martí,73,la Verneda i la Pau,143,66.3

In [106]:
loc

,Year,Code_District,Name_Dist,Code_NBHD,Name_NBHD,Censal_Section,Use,Description,Amount
0,2019,1,Ciutat Vella,1,el Raval,1,Habitatge,Nombre,819.00
1,2019,1,Ciutat Vella,1,el Raval,1,Aparcaments,Nombre,98.00
2,2019,1,Ciutat Vella,1,el Raval,1,Comerç,Nombre,50.00
3,2019,1,Ciutat Vella,1,el Raval,1,Magatzem,Nombre,30.00
4,2019,1,Ciutat Vella,1,el Raval,1,Oficina,Nombre,157.00
...,...,...,...,...,...,...,...,...,...
52714,2018,10,Sant Martí,73,la Verneda i la Pau,142,Religiós,Valor_€,822218.98
52715,2018,10,Sant Martí,73,la Verneda i la Pau,143,Habitatge,Valor_€,37618731925.00
52716,2018,10,Sant Martí,73,la Verneda i la Pau,143,Comerç,Valor_€,601580565.00
52717,2018,10,Sant Martí,73,la Verneda i la Pau,143,Hotel,Valor_€,55101.37
52718,2018,10,Sant Martí,73,la Verneda i la Pau,143,Ensenyament,Valor_€,2120855.00

# Ages and Nationality

In [109]:
dic = ["../datasets/all/padro_edat_quinquennal_per_nacionalitat_i_sexe_2018.csv",
       "../datasets/all/padro_edat_quinquennal_per_nacionalitat_i_sexe_2019.csv",
       "../datasets/all/padro_edat_quinquennal_per_nacionalitat_i_sexe_2020.csv"]

In [111]:
age_nat = HistMake("../datasets/all/padro_edat_quinquennal_per_nacionalitat_i_sexe_2017.csv", dic) 
age_nat

,Any,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Sexe,Nacionalitat,Edat_quinquennal,Nombre
0,2020,1,Ciutat Vella,1,el Raval,Dona,Espanyola,0-4 anys,395
1,2020,1,Ciutat Vella,2,el Barri Gòtic,Dona,Espanyola,0-4 anys,102
2,2020,1,Ciutat Vella,3,la Barceloneta,Dona,Espanyola,0-4 anys,131
3,2020,1,Ciutat Vella,4,"Sant Pere, Santa...",Dona,Espanyola,0-4 anys,185
4,2020,2,Eixample,5,el Fort Pienc,Dona,Espanyola,0-4 anys,419
...,...,...,...,...,...,...,...,...,...
24523,2017,10,Sant Martí,69,Diagonal Mar i e...,Dona,Estrangera,100 anys i més,0
24524,2017,10,Sant Martí,70,el Besòs i el Ma...,Dona,Estrangera,100 anys i més,0
24525,2017,10,Sant Martí,71,Provençals del P...,Dona,Estrangera,100 anys i més,0
24526,2017,10,Sant Martí,72,Sant Martí de Pr...,Dona,Estrangera,100 anys i més,0
24527,2017,10,Sant Martí,73,la Verneda i la Pau,Dona,Estrangera,100 anys i més,0

In [112]:
age_nat.columns = ['Year', 'Code_District', 'Name_Dist', 'Code_NBHD',
                      'Name_NBHD', 'Gender', 'Nationality', 'Age', 'Amount']

In [113]:
age_nat

,Year,Code_District,Name_Dist,Code_NBHD,Name_NBHD,Gender,Nationality,Age,Amount
0,2020,1,Ciutat Vella,1,el Raval,Dona,Espanyola,0-4 anys,395
1,2020,1,Ciutat Vella,2,el Barri Gòtic,Dona,Espanyola,0-4 anys,102
2,2020,1,Ciutat Vella,3,la Barceloneta,Dona,Espanyola,0-4 anys,131
3,2020,1,Ciutat Vella,4,"Sant Pere, Santa...",Dona,Espanyola,0-4 anys,185
4,2020,2,Eixample,5,el Fort Pienc,Dona,Espanyola,0-4 anys,419
...,...,...,...,...,...,...,...,...,...
24523,2017,10,Sant Martí,69,Diagonal Mar i e...,Dona,Estrangera,100 anys i més,0
24524,2017,10,Sant Martí,70,el Besòs i el Ma...,Dona,Estrangera,100 anys i més,0
24525,2017,10,Sant Martí,71,Provençals del P...,Dona,Estrangera,100 anys i més,0
24526,2017,10,Sant Martí,72,Sant Martí de Pr...,Dona,Estrangera,100 anys i més,0
24527,2017,10,Sant Martí,73,la Verneda i la Pau,Dona,Estrangera,100 anys i més,0